.input-text {
  width: 475px;
  height: 65px;
  background: #ffffff;
  border:  1.5px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 20px 0 20px;
  &:hover,
  &:focus {
    border: 1.5px solid rgba(31, 32, 65, 0.5);
    outline: none;
    &::placeholder {
      color: #1f2041;
    }
  }
  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 22.5px;
    line-height: 65px;
    color: rgba(31, 32, 65, 0.35);
  }
}

// @media only screen and (max-width: 600px) {
//   .input-text {
//     max-width: 440px;
//   }
// }


@media only screen and (max-width: 450px) {
  .input-text {
    width: 390px;
  }
}

@media only screen and (max-width: 400px) {
  .input-text {
    width: 300px;
  }
}
