@charset "UTF-8";
/* style for text of button*/
.text-field {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.text-field:hover,
.text-field:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.button.first-click {
  width: 99px;
  height: 44px;
  /* Primary Gradient */
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}

.button.second-click {
  width: 99px;
  height: 44px;
  /* Primary Gradient */
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
  border-radius: 22px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}

.button.third-click {
  width: 99px;
  height: 44px;
  border: 2px solid #bc9cff;
  border-radius: 22px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #bc9cff;
}

.button.fourth-click {
  width: 99px;
  height: 44px;
  border: 2px solid #bc9cff;
  border-radius: 22px;
  opacity: 0.5;
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  color: #bc9cff;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  width: 40px;
  height: 20px;
  margin-left: 30px;
  background: #ffffff;
  /* Primary Color */
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  outline: 0;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  top: 1px;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 60%;
}

.tgl-light + .tgl-btn {
  background: #fff;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tgl-light:checked + .tgl-btn {
  border: 1px solid #bc9cff;
}

.tgl-light:checked + .tgl-btn:after {
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
  text-decoration: none;
}

.rate:not(:checked) > label:before {
  content: "★";
}

.rate > input:checked ~ label {
  color: #8ba4f9;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #8ba4f9;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #8ba4f9;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu after {
  content: "";
  display: table;
  clear: both;
}

.menu__logo {
  background-image: url(../images/Logo.svg);
  width: 105.69px;
  height: 40px;
  margin-top: 15px;
  background-repeat: no-repeat;
  display: block;
  padding: 10px 0 0 30px;
  float: left;
}

.menu__logo_toggle {
  display: none;
}

.menu__logo_drop {
  display: none;
}

.menu__nav {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.menu__nav li {
  margin: 0px;
  display: inline-block;
  float: left;
}

.menu__nav li a {
  display: block;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  padding: 26px 20px;
}

.menu li:nth-child(2) > a:after {
  content: "";
  padding: 5px;
  -webkit-box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
          box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 10px;
  color: rgba(31, 32, 65, 0.5);
}

.menu li:nth-child(5) > a:after {
  content: "";
  padding: 5px;
  -webkit-box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
          box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 10px;
  color: rgba(31, 32, 65, 0.5);
}

.btn-link-menu {
  margin-right: 30px;
  margin-left: 15px;
  margin-top: 13px;
}

.btn-signup {
  margin-top: 13px;
}

@media (max-width: 1300px) {
  .menu {
    margin: 0;
  }
  .menu__logo {
    display: block;
    padding: 20px 0 10px 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  .menu__logo_toggle {
    display: block;
    padding: 14px 20px;
    color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    font-size: 17px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  .menu__logo_toggle a {
    display: none;
  }
  .menu__logo_drop:checked + ul {
    display: block;
  }
  .menu__nav {
    float: left;
    width: 100%;
    display: none;
  }
  .menu__nav li {
    display: block;
    width: 100%;
    margin-top: -20px;
  }
  .btn-menu {
    margin-bottom: 10px;
  }
}

.wrap {
  width: 380px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.container-form {
  padding: 2% 10% ;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.footer {
  padding: 10px 200px;
  border-top: 1px solid #dbdbdb;
  background-color: #fff;
  /*bg color*/
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-top: 100px;
}

.footer__nav__block {
  margin: 0 10px 10px;
  text-decoration: none;
}

.footer__nav__block p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: rgba(31, 32, 65, 0.5);
  padding-top: 20px;
  line-height: 24px;
}

.footer__nav__block li {
  margin: 20px 0;
}

.footer__nav__block li a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: rgba(31, 32, 65, 0.5);
}

.footer__nav__block .input-footer {
  width: 260px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 17em;
  background-position-y: 0.8em;
  top: 20px;
}

.footer__nav__block .input-footer::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.footer__nav__block .input-footer:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.footer__nav__block .input-footer::-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.footer__nav__block .input-footer::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.footer .footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;
}

.svg-inline--fa {
  font-size: 27px;
  line-height: 23px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  /* Primary Gradient */
  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  margin-right: 20px;
}

/** Viewport <= 800px **/
@media (max-width: 800px) {
  .footer {
    padding: 0 30px;
    padding-bottom: 30px;
  }
  .footer__nav {
    padding-top: 50px;
  }
}

.main-background {
  min-height: 800px;
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}

.clear {
  clear: both;
}

.ui-datepicker {
  width: 320px;
  background: white;
  padding: 20px 0 20px 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  display: none;
}

.ui-datepicker .ui-datepicker-header {
  background: #fff;
  border: none;
  padding-top: 12px;
  padding-bottom: 9px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  line-height: normal;
  font-size: 0;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  color: #1f2041;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year {
  text-align: center;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1f2041;
}

.ui-datepicker .ui-datepicker-group {
  margin: 0;
  width: calc(50% - 4px) !important;
  color: #BC9CFF;
}

.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px;
}

.ui-datepicker .ui-datepicker-calendar td,
.ui-datepicker .ui-datepicker-calendar th {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: white;
  color: #bc9cff;
}

.ui-datepicker .ui-datepicker-calendar th {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #BC9CFF;
  font-size: 13px;
  font-family: Montserrat;
  color: #bc9cff;
}

.ui-datepicker .ui-datepicker-calendar th > span {
  color: #bc9cff;
}

.ui-datepicker .ui-datepicker-calendar .sejour > a {
  background: rgba(139, 164, 249, 0.3);
  border: none;
}

.ui-datepicker .ui-datepicker-calendar .current > a {
  background: red;
}

.ui-datepicker .ui-datepicker-calendar .start > a {
  border: 1px solid linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-weight: bold;
  color: #ffffff;
}

.ui-datepicker .ui-datepicker-calendar .end > a {
  border: 1px solid linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 15px;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  font-weight: bold;
  color: #ffffff;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 23px;
  text-align: center;
  padding: 0;
  border: none;
  outline: 0;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding-top: 10px;
  color: rgba(31, 32, 65, 0.5);
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: red;
}

#ui-datepicker-div .ui-state-highlight {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 27px;
}

.flexs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  cursor: pointer;
  overflow: hidden;
  padding-top: 17px;
}

.ui-datepicker-prev {
  background: url(../images/arrow_back.svg);
  background-repeat: no-repeat;
  float: left;
  margin-left: 5px;
}

.ui-datepicker-next {
  background: url(../images/arrow_forward.svg);
  background-repeat: no-repeat;
  float: right;
  padding-right: 50px;
}

.dp-highlight .ui-state-default {
  background: #484;
  color: #fff;
  padding: 0;
  margin: 0;
}

/* Dropdown */
.dropdown {
  margin-top: 20px;
}

.dropdowns {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 4px;
  width: 320px;
  height: 44px;
}

.dd-button:after {
  content: "";
  padding: 4px;
  -webkit-box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
          box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 165px;
  color: rgba(31, 32, 65, 0.5);
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  width: 320px;
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 0 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.titles {
  color: #1F2041;
  margin-top: 7px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.flexs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.texts {
  margin: 7px 10px 0 10px;
}

.button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
}

.start-date::before {
  content: "";
  padding: 5px;
  -webkit-box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
          box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 10px;
  color: rgba(31, 32, 65, 0.5);
  background-repeat: no-repeat;
}

.input-date {
  padding-left: 15px;
}

.input__date--single {
  width: 266px;
  height: 44px;
  background: #FFFFFF;
  /* Dark 25% */
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.input__date--single::before {
  content: "";
  padding: 5px;
  -webkit-box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
          box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: 30px;
  color: rgba(31, 32, 65, 0.5);
  background-repeat: no-repeat;
}

.form-search {
  margin: 70px 0 0 140px;
}

.main-background-search {
  min-height: 800px;
  background-image: url(../images/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}

.clear {
  clear: both;
}

.slogan {
  position: relative;
  top: 80%;
  left: 70%;
}

.card {
  width: 470px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.card img {
  width: 270px;
  height: 150px;
  background-color: red;
}

.card_container {
  padding: 20px;
}

.card-number {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #1F2041;
}

.card-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.card-border{
  border: 1px solid rgba(31, 32, 65, 0.1);
}

.card-span {
  font-weight: normal;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.line {
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

:root {
  --star-size: 24px;
  --star-outline: #4CAF50 solid 1px;
  --star-color: #fff;
  --star-background:  #BC9CFF;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #BC9CFF;
}

#slider-range {
  width: 266px;
  height: 6px;
  background-color: white;
}

#slider-range .ui-state-default,
#slider-range .ui-widget-content .ui-state-default,
#slider-range .ui-widget-header .ui-state-default {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  outline: 0;
  margin-top: -3px;
}

#slider-range .ui-slider-horizontal {
  background: #ffffff;
  /* Dark 25% */
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

#slider-range .ui-widget-header {
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox__span {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.checkbox__button input[type="checkbox"] {
  display: none;
}

.checkbox__button label {
  color: #000;
  cursor: default;
  font-weight: normal;
  line-height: 30px;
  padding: 10px 0;
  vertical-align: middle;
}

.checkbox__button label::before {
  content: " ";
  color: #000;
  display: inline-block;
  /* шрифт Awesome*/
  font: 20px/30px FontAwesome;
  margin-right: 15px;
  position: relative;
  text-align: center;
  text-indent: 0px;
  background: #fff;
  border: 1px solid #e3e3e3;
  -o-border-image: initial;
     border-image: initial;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

input:checked + label:before {
  /* глифон - галочка */
  content: "\2714	";
  color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: 1px solid linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

input:disabled + label:before {
  background: #eee;
  color: #aaa;
}

.slider__range__price {
  float: right;
  margin-top: -29px;
}

.settings-dropdown .dd-button {
  width: 266px;
  height: 44px;
}

.owl-carousel {
  display: none;
  width: 450px;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.item {
  width: 350px;
  height: 150px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  left: 0;
}

.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  position: absolute;
  right: 10%;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #000;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

span {
  font-size: 70px;
  position: relative;
  top: -5px;
}

.owl-nav button:focus {
  outline: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

.container {
  width: 81vw;
  margin: 0 auto;
}

.logo {
  background-image: url(../images/Logo.svg);
  width: 105.69px;
  height: 40px;
  background-repeat: no-repeat;
}

.main-title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
  margin-bottom: 20px;
}

.btn-signup {
  letter-spacing: 1.8px;
  border: none;
  padding: 15px 35px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-transform: uppercase;
  /* Dark 100% */
  color: #1F2041;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.input_text {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.input_text::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.input_text:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.input_text::-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.input_text::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  padding-left: 15px;
}

.input_text:hover {
  border: 2px solid rgba(139, 164, 249, 0.7);
}

.input_text:active {
  border: 2px solid rgba(139, 164, 249, 0.7);
}

.btn-width-violet {
  width: 320px;
  height: 44px;
  background-color: #bc9cff;
  border-radius: 22px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
  background-image: url(../images/white-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 23em;
  background-position-y: 0.9em;
  top: 20px;
}

.btn-link {
  display: inline-block;
  padding: 10px 30px;
  border: 2.4px solid #BC9CFF;
  text-transform: uppercase;
  border-radius: 22px;
  color: #BC9CFF;
  text-decoration: none;
}

.label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1F2041;
  text-align: left;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height, or 129% */
}

.formtext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin-top: 12px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.radio-button {
  position: relative;
  margin-top: -30px;
  margin-left: 10px;
}

.radio-button ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.radio-button ul li {
  color: #aaaaaa;
  display: block;
  position: relative;
  float: left;
}

.radio-button ul li .check {
  display: block;
  position: absolute;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
  border: 1px solid #8ba4f9;
}

.radio-button ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.radio-button ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.radio-button ul li label {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  padding: 18px 10px 25px 50px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.radio-button ul li:hover label {
  color: rgba(31, 32, 65, 0.5);
}

.radio-button ul li:hover .check {
  border: 3px solid #bc9cff;
}

.radio-button input[type="radio"]:checked ~ .check {
  border: 1px solid #8ba4f9;
}

.radio-button input[type="radio"]:checked ~ .check::before {
  background: #8ba4f9;
}

.radio-button input[type="radio"]:checked ~ label {
  color: rgba(31, 32, 65, 0.75);
}

.input-date {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  display: block;
}
/*# sourceMappingURL=main.css.map */