@charset "UTF-8";
.text-field {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.text-field:hover,
.text-field:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

/* .button.first-click {
  width: 99px;
  height: 44px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

.button.second-click {
  width: 99px;
  height: 44px;

  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
  border-radius: 22px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;
  color: #ffffff;
}

.button.third-click {
  width: 99px;
  height: 44px;
  border: 2px solid #bc9cff;
  border-radius: 22px;
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;
  color: #bc9cff;
}

.button.fourth-click {
  width: 99px;
  height: 44px;
  border: 2px solid #bc9cff;
  border-radius: 22px;
  opacity: 0.5;
  background-color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;

  text-transform: uppercase;
  color: #bc9cff;
} */

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  width: 40px;
  height: 20px;
  margin-left: 30px;
  background: #ffffff;
  /* Primary Color */
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  outline: 0;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  top: 1px;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 60%;
}

.tgl-light + .tgl-btn {
  background: #fff;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tgl-light:checked + .tgl-btn {
  border: 1px solid #bc9cff;
}

.tgl-light:checked + .tgl-btn:after {
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 24px;
  color: #aaa;
  text-decoration: none;
}

.rate:not(:checked) > label:before {
  content: "★";
}

.rate > input:checked ~ label {
  color: #8ba4f9;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #8ba4f9;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #8ba4f9;
}
/*# sourceMappingURL=main_ui.css.map */