mixin card-room(slickName, imgNameOne, imgNameTwo, imgNameThree, imgNameFour, number, price, style='--rating: level', feedback, className)
    div(class= className, class='card')
      a(href="info-page.html")
        .carousel-container
          div(class= slickName)
              input(type='radio' id= slickName + '-1' name='carousel[]' checked)
              input(type='radio' id= slickName + '-2' name='carousel[]')
              input(type='radio' id= slickName + '-3' name='carousel[]')
              input(type='radio' id= slickName + '-4' name='carousel[]')
              ul(class= slickName + '__items')
                li(class= slickName + '__item')
                  img(src= imgNameOne)
                li(class=  slickName + '__item')
                  img(src= imgNameTwo)
                li(class=  slickName + '__item')
                  img(src= imgNameThree)
                li(class=  slickName + '__item')
                  img(src= imgNameFour)
              .carousel__prev
                label(for= slickName + '-1')
                label(for= slickName + '-2')
                label(for= slickName + '-3')
                label(for= slickName + '-4')
              .carousel__next
                label(for= slickName + '-1')
                label(for= slickName + '-2')
                label(for= slickName + '-3')
                label(for= slickName + '-4')
              .carousel__nav
                label(for= slickName + '-1')
                label(for= slickName + '-2')
                label(for= slickName + '-3')
                label(for= slickName + '-4')
        .card__container
            .flex-row.card-border
                p(class='card__number') 
                    span(class='card__number_symbol') &#8470; 
                    span=  number
                p(class='card__price')= price  
                    span(class='card__price_per day')  в сутки
            .line
            .flex-row
              div(class='Stars stars__decor' style= style)
              p(class='card__feedback')= feedback
                    span   Oтзывов