- blocks = {}
mixin set(key)
  - blocks[key] = this.block 
mixin card-room(carousel, card)
    div(class= card.className, class='card')
      a(href="info-page.html" class="carousel")
        div(class='carousel__container')
          div(class= carousel.slickName)
              input(type='radio' id= carousel.slickName + '-1' name='carousel[]' checked)
              input(type='radio' id= carousel.slickName + '-2' name='carousel[]')
              input(type='radio' id= carousel.slickName + '-3' name='carousel[]')
              input(type='radio' id= carousel.slickName + '-4' name='carousel[]')
              ul(class= carousel.slickName + '__items')
                each img in carousel.imgList
                  li(class= carousel.slickName + '__item')
                    img(src= img class="carousel__img")
              .carousel__prev
                label(for= carousel.slickName + '-1')
                label(for= carousel.slickName + '-2')
                label(for= carousel.slickName + '-3')
                label(for= carousel.slickName + '-4')
              .carousel__next
                label(for= carousel.slickName + '-1')
                label(for= carousel.slickName + '-2')
                label(for= carousel.slickName + '-3')
                label(for= carousel.slickName + '-4')
              .carousel__nav
                label(for= carousel.slickName + '-1')
                label(for= carousel.slickName + '-2')
                label(for= carousel.slickName + '-3')
                label(for= carousel.slickName + '-4')
      div(class='description')
        div(class='description__container')
              div(class='description__wrap')
                  p(class='description__number') 
                      span(class='description__symbol') &#8470; 
                      span=  card.number
                      div(class='description__luxe')
                        if blocks.luxe
                          - blocks.luxe()
                        else
                  p(class='description__price')= card.price  
                      span(class='description__per-day')= card.day
              div(class='description__line')
              div(class='description__wrap')
                if block 
                  block 
                p(class='description__feedback')= card.feedback
                  span(class='description__text')= card.textFeedback


