.card {
  width: 490px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 7px;
  margin: 20px 0;
  &__container {
    padding: 25px 30px;
  }
  &__number {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
    color: #1f2041;
  }
  &__price, &__feedback {
    font-style: normal;
    font-weight: bold;
    font-size: 1.16rem;
    color: rgba(31, 32, 65, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &_perday {
    font-weight: normal;
    font-size: 1rem;
  }
}

.line {
  border-bottom: 2px solid rgb(220,220,220);
}

:root {
  --star-size: 24px;
  --star-outline: #4caf50 solid 1px;
  --star-color: #fff;
  --star-background: #9BA1FB;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: "★★★★★";
  font-size: 1.88rem;
  letter-spacing: 7px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--star-background)),
    to(var(--star-color))
  );
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #9BA1FB;
}

.stars__decor {
  margin-top: 5px;
}

@media only screen and (max-width: 1550px) {
  .card {
    width: 350px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 7px;
    margin: 20px 0;
    & img {
      width: 100%;
      height: 200px;
      background-color: red;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    &-container {
      padding: 10px 20px;
    }
    &-number {
      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      color: #1f2041;
    }
    &-price {
      font-style: normal;
      font-weight: bold;
      color: rgba(31, 32, 65, 0.5);
    }
    &-span {
      font-weight: normal;
    }
  }
}

@media only screen and (max-width: 400px) {
  .card {
    width: 300px;
  }
}
