include ../mixins.pug

mixin card-room(number, price, feedback)
    .card
        img()
        .card_container
            .row.line
                p(class="card-number") N  
                    span=  number
                p(class="card-price")= price  
                    span(class="card-span")  в сутки
            .row
                +stars("--rating: 3")
                p(class="card-price")= feedback
                    span(class="card-span")   отзывов
        

+card-room( 888, 909, 45)