doctype html
html
  head
    title my jade template
  body
    include ../header/header.pug
    .clear
    .main-background
      include ../signin-form/signin-form.pug
    include ../footer/footer.pug