doctype html
html
  head
    title my jade template
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
    include ../header/header.pug
    .clear
    .main-background
      include ../signin-form/signin-form.pug
    include ../footer/footer.pug