.checkbox__name_descr {
  font-weight: bold;
  margin-top: -3px;
  font-size: 1rem;
  letter-spacing: 1.2px;
}

.checkbox__span_descr {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 2vw;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}

  