.little-dd {
  display: inline-block;
  position: relative;
  & .little-dd__item {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 395px;
    height: 65px;
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.14rem;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.35);
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    color: rgba(31, 32, 65, 0.75);
    &:after {
      content: "";
      padding: 5px;
      box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
      display: inline-block;
      transform: rotate(-45deg);
      position: absolute;
      top: 30px;
      left: 90%;
      color: rgba(31, 32, 65, 0.5);
    }
  }
  & .little-dd__input {
    display: none;
    &:checked + .little-dd__menu {
      display: block;
    }
    & + .little-dd__menu {
      display: none;
    }
  }
  & .little-dd__menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index: 10;
    width: 395px;
    & > .menu__row {
      padding: 10px 20px;
      white-space: nowrap;
      display: flex;
      justify-content: space-between;
      &:hover {
        background-color: #f6f6f6;
      }
    }
  }
  & .little-dd__text {
    margin: 7px 30px 0 30px;
  }
  & .little-dd__title {
    margin-top: 15px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #1f2041;
  }
  & .little-dd__button {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    background: #ffffff;
    outline: none;
    cursor: pointer;
  }
  & .clean {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
  
  & .apply {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
}


@media only screen and (max-width: 380px) {
  .little-dropdown {
    & .little-dd__menu {
      width: 300px;
      & .little-menu__row {
        padding: 10px 0px;
      }
    }
  }
}
