include ../../blocks/room-information/room-information.pug
include ../../blocks/feedback/feedback.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/donut-chart/donut-chart.pug
include ../../blocks/calculator/calculator.pug
include ../../blocks/dropdown/dropdown.pug

div(class='information')
    div(class='information__top-part information__gallery')
        div(class='gallery__big-img_responsive')
            img(src=require('./images/mainA-resp.jpg'))
        div(class='gallery__big-img')
            img(src=require('./images/mainA.jpg'))
        div(class='gallery__small-img')
            div(class='gallery__small-img_first')
                img(src=require('./images/gallery-first.jpg'))
            div(class='gallery__small-img_second')
                img(src=require('./images/gallery-second.jpg'))
    div(class=' container flex-row information__bottom-part')
        div(class='information__bottom-part bottom-part__left')
            div(class='information__info')
                div
                    h3(class='information__title information__title_info') Сведения о номере
                    +room-information('mood', 'Комфорт', 'Шумопоглощающие стены', ' information__border') 
                    +room-information('location_city', 'Удобство', 'Окно в каждой из спален', ' information__border')
                    +room-information('whatshot', 'Уют', 'Номер оснащён камином')
                div(class='information__impression')
                    h3(class='information__title information__title_impression') Впечатления от номера
                    +chart-donut('260', 'Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован')
            div
                h3(class='information__title information__title_details') Отзывы посетителей номера
                +feedback(require('./images/photo1.jpg'), 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
                div(class='information__impression_second')
                    +feedback(require('./images/photo2.jpg'), 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент')
            div(class='flex-row')
                div(class='information__rules')
                    h3(class='information__title information__title_rules') Правила
                    +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00' + ', '   +  ' а выезд до 12:00 '])
                div(class='information__cancel')
                    h3(class='information__title information__title_cancel') Отмена
                    p(style='white-space:pre;' class='information__text')
                        | Бесплатная отмена в течение 48 ч. После
                        | этого при отмене не позднее чем за 5 дн. до 
                        | прибытия вы получите полный возврат за 
                        | вычетом сбора за услуги.
        div(class='information__bottom-part bottom-part__right')
            +calculator(888, '9 990₽', 'в сутки', 'прибытие', 'выезд', 'гости', '9 990₽ х 4 суток', '39 960₽', 'Сбор за услуги: скидка 2 179₽', '300₽', 'Итого..................................................38 081₽')
                block datepicker
                    h1 My important announcement
                    //- +dropdown( {id: 'dd-text', name: 'Сколько гостей'}, { name:'Взрослые', number: 'adult_text', plus: 'adult_plus', minus: 'adult_minus'},  {name: 'Дети', number: 'child_text', plus: 'child_plus', minus: 'child_minus' }, {name: 'Младенцы', number: 'baby_text', plus: 'baby_plus', minus: 'baby_minus'})