include ../../blocks/room-information/room-information.pug
include ../feedback/feedback.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/donut-chart/donut-chart.pug
include ../../blocks/calculator/calculator.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/btn-like/btn-like.pug

include ../gallery/gallery.pug
include ../information/information.pug

div(class='room-details')
    +gallery
    +information
hr