mixin input-subscription(placeholder)
  form(class='form-subscribe')
    input(type='text' class="form-subscribe__input" placeholder= placeholder) 
    button(type='submit' class="form-subscribe__button")
        i(class='fa fa-arrow-right')