.form-subscribe {
  width: 385px;
  &__input {
    padding: 24px;
    border: 1px solid grey;
    width: 395px;
    height: 65px;
    box-sizing: border-box;
    background-image: url('./images/arrow_forward.svg');
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    border:  1.5px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 65px;
    color: rgba(31, 32, 65, 0.9);
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 18px;
      color: rgba(31, 32, 65, 0.35);
      cursor: pointer;
    }
    &:hover,
    &:focus {
      outline: none;
      &::placeholder {
        color: rgba(31, 32, 65, 0.75);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .form-subscribe {
    width: 300px;
    &__input{
      width: 300px;
    }
  }
}
