include ../mixins.pug

.wrap
      h1(
        class="title main-title"
      ) Регистрация аккаунта

      +input-text("Имя")
      +input-text("Фамилия")

      label(class="label") Дата рождения
      +input-text("ДД.ММ.ГГГГ")

      .row
         +radio-button("Man")
         +radio-button("Women")
      
      label(class="label") Данные для входа в сервис
      +input-text("Email")
      +input-text("Пароль")


      input#cb1.tgl.tgl-light(type = "checkbox") 
      label.tgl-btn(for = "cb1")

      button(type="button" class="btn btn-width-violet") Перейти к оплате
      
      .flex
        p(class="formtext") Уже есть аккаунт на Toxin
        +button-signin('Войти', 'signin-page.html')