include ../mixins.pug

.wrap
  .container__form
      h1(
        class="title__main"
      ) Регистрация аккаунта
      div(class="signup__input--name")
      +input-text("Имя")
      div(class="signup__input--surname")
      +input-text("Фамилия")

      .row
         +radio-button("radio-button1", "Мужчина")
         +radio-button("radio-button2", "Женщина")

      div(class="signup__input--birthday")
      label(class="title signup__title") Дата рождения
      +input-text("ДД.ММ.ГГГГ")
      
      div(class="signup__input--data")
      label(class="title signup__title") Данные для входа в сервис
      +input-text("Email")
      div(class="signup__input--data--password")
        +input-text("Пароль")


      input#cb1.tgl.tgl-light(type ="checkbox") 
      label.tgl-btn(for = "cb1")

      button(type="button" class="btn btn-confirm signup__button--payment") Перейти к оплате
      
      .flex-row
        p(class="sugnup__text") Уже есть аккаунт на Toxin
        +button-signin('Войти', 'signin-page.html')