  
  .wrap{
    width: 560px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 0 auto;
  }

  .container__form{
    padding: 32px 30px 40px 40px;
  }

  // .flex{
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-around;
  //   margin-top: 10px;
  // }

  .signup__input--name{
    padding-top: 5px;
  }

  
  .signup__input--surname{
    padding-top: 15px;
  }

  .signup__input--birthday{
    padding-top: 5px;
  }

  .signup__input--data{
    padding-top: 25px;
  }

  .signup__input--data--password{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .signup__button--payment{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .sugnup__text{
    margin-top: 20px;
    font-size: 19px;
  }

