doctype html
html
  head
    title my jade template
  body
    include ../header/header.pug
    .clear
    .main-background
      include ../form-register/form-register.pug
    include ../footer/footer.pug