mixin chart-donut(chart)
    div(class='donut-chart')
        svg(class='svg')
            circle(class='svg__circle')
            circle(class='svg__circle1')
            circle(class='svg__circle2')
            circle(class='svg__circle3')   
            g(class='svg__text')
                text(x='42%' y='35%' class='svg__number')= chart.voices
                text(x='42%' y='36%' class='svg__label')= chart.text
        div(class='chart-label')
            ul(class='chart-label__list' aria-hidden='true' role='presentation')
                li(class='chart-label__grade')
                    span(class='chart-label__circle chart-label__circle_color_peach')
                    = chart.grade1
                li(class='chart-label__grade')
                    span(class='chart-label__circle chart-label__circle_color_green') 
                    = chart.grade2
                li(class='chart-label__grade')
                    span(class='chart-label__circle chart-label__circle_color_blue')
                    = chart.grade3
                li(class='chart-label__grade')
                    span(class='chart-label__circle chart-label__circle_color_grey')
                    = chart.grade4