include ../../components/footer/footer.pug
include ../../components/signin-form/signin-form.pug
include ../../components/header/header.pug
include ../../components/button-signin-header/button-signin-header.pug
doctype html
html
  head
    title
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
    +header(['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'])
      +button-signin-header('Войти', 'signin-page.html', 'header-btn-signin' )
      .header__btn_signup
        +button-signup('Зарегистрироватьcя', 'signup-page.html')
    .clear
    .main-background
      +form-signin('Войти', 'Нет аккаунта на Toxin?')
    +footer('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', {name1: 'навигация', name2: 'о нас', name3: 'Служба поддержки', name4: 'Подписка'}, ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Соглашения', 'Сообщества', 'Связь с нами'], 
    'Получайте специальные предложения и новости сервиса', 'Copyright © 2018 Toxin отель. Все права зачищены.')