extends ../layout.pug
include ../../blocks/signin-form/signin-form.pug

block content
  div(class='signin-page__background')
        +form-signin({ addClass: 'form-signin_position', title: 'Войти', login:'Нет аккаунта на Toxin?'})