.input-dates{
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 395px;
    height: 65px;
    margin-top: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 18px;
    color: $color-standart;
    margin-bottom:35px;
}


@media only screen and (max-width: 900px) {
    .container{
        width: 100%;
    }
    .input-dates{
        width: 315px;
    }

}