mixin single-datepicker()
    div(class='single-datepicker')
        input(data-range='true'
            data-multiple-dates-separator=' - '
            placeholder='ДД.ММ.ГГГГ'
            id='single-range')