mixin single-datepicker(className)
    div(class='single-datepicker')
        input(data-range='true'
            class= className
            data-multiple-dates-separator=' - '
            placeholder='ДД.ММ.ГГГГ'
            class='single-range')