.extracomfort {
  display: inline-block;
  position: relative;
}

.extracomfort__button {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 4px;
  width: 375px;
  height: 65px;
  margin-top: 0px;
  font-style: normal;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  color: #1F2041;
  font-style: normal;
  font-weight: bold;
  font-size: 17.8px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.extracomfort__button:after {
  content: "";
  padding: 5px;
  box-shadow: 2px -2px 0 0 black inset;
  display: inline-block;
  transform: rotate(-45deg);
  position: absolute;
  top: 35%;
  left: 95%;
  color: black;
}

.extracomfort__input {
  display: none;
}

.extracomfort__menu {
  position: absolute;
  top: 100%;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  background-color: #ffffff;
  list-style-type: none;
  z-index: 10;
  width: 395px;
}

.extracomfort__input + .extracomfort__menu {
  display: none;
}

.extracomfort__input:checked + .extracomfort__menu {
  display: block;
}

.extracomfort__menu li {
  cursor: pointer;
  white-space: nowrap;
}

.extracomfort__checkbox{
  padding-bottom: 15px;
}