mixin expandable-checkbox-list(title)
    label.extracomfort
        .extracomfort-button.title(id='extracomfort__button')= title
        input(type='checkbox' class='extracomfort__input' id='extracomfort__input')
        if block 
            block

