mixin expandable-checkbox-list(title)
    label(class='extracomfort')
        div(class='title' id='extracomfort__button')= title
        input(type='checkbox' class='extracomfort__input' id='extracomfort__input')
        if block 
            block

