.extracomfort {
  display: inline-block;
  position: relative;
  width: 395px;
  &__button {
    font-style: normal;
    font-weight: bold;
    font-size: 17.8px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    &::after {
      content: "";
      padding: 6px;
      box-shadow: 2px -2px 0 0 black inset;
      display: inline-block;
      transform: rotate(-45deg);
      position: absolute;
      left: 90%;
      color: black;
      
    }
  }
  &__input {
    display: none;
    & + .extracomfort__menu {
      display: none;
    }
    &:checked + .extracomfort__menu {
      display: block;
    }
  }
  &__menu {
    position: absolute;
    top: 100%;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    background-color: #ffffff;
    list-style-type: none;
    z-index: 10;
    width: 395px;
  }
  &__checkbox {
    padding-bottom: 15px;
  }
}
