mixin expandable-checkbox-list(title)
    label(class='extracomfort')
        div(class='extracomfort__button' id='extracomfort__button')= title
        input(type='checkbox' class='extracomfort__input' id='extracomfort__input')
        div(class='extracomfort__menu')
            if block 
                block