mixin gallery()
    div(class='gallery')
        div(class='gallery__img-responsive')
            img(src=require('./images/mainA-resp.jpg'))
        div(class='gallery__big-img')
            img(src=require('./images/mainA.jpg'))
        div(class='gallery__small-img')
            div(class='gallery__small-img_first')
                img(src=require('./images/gallery-first.jpg'))
            div(class='gallery__small-img_second')
                img(src=require('./images/gallery-second.jpg'))