.gallery {
  display: flex;
  &__big-img {
    flex: 2;
  }
  &__img-responsive {
    display: none;
  }
  &__small-img {
    flex: 1;
    &_second {
      margin-top: -7px;
    }
  }
}

@media only screen and (max-width: 1850px) {
  .gallery {
    &__big-img {
      display: none;
    }
    &__img-responsive {
      display: block;
      width: 100%;
      height: auto;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &__small-img {
      display: none;
    }
  }
}
