doctype html
html
  head
    title my jade template
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
  .info-page
    include ../header/header.pug
    .clear
    br
    include ../info-room/info-room.pug
    include ../footer/footer.pug