doctype html
html
  head
    title my jade template
  body
  .info-page
    include ../header/header.pug
    .clear
    br
    include ../info-room/info-room.pug
    include ../footer/footer.pug