include ../../components/footer/footer.pug
include ../../components/button/button.pug
include ../../components/header/header.pug
doctype html
html
  head
    title
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
    +header( ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'])
      +button( {name:'Войти', link: 'signin-page.html',className: 'btn__signin_header'})
      +button({name: 'Зарегистрироватьcя', link: 'signup-page.html', className: 'btn__signup'})
    include ../../components/room-page/room-page.pug
    +footer({slogan: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', offer:'Получайте специальные предложения и новости сервиса', copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.'}, {name1: 'навигация', name2: 'о нас', name3: 'Служба поддержки', name4: 'Подписка'}, ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Соглашения', 'Сообщества', 'Связь с нами'])