@import "../../components/variables.scss";

.checkbox__box,
.checkbox__label {
  display: block;
  cursor: pointer;
  &:before {
    content: '';
    background-position-x: center;
    background-position-y: 4px;
    background-repeat: no-repeat;
    font-family: "Times New Roman", Times, serif;
    border-radius: 0.2em;
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 14px;
    padding-left: 5px;
    background-image: none;
    border: $border-state;
  }
}

.checkbox__label {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.checkbox__box {
  display: none;
}
.checkbox__box + .checkbox__label:active:before {
  transform: scale(0);
}

.checkbox__box:checked + .checkbox__label:before {
  background-image: url('./images/vector.jpg');
  color: #bc9cff;
  border: 1.5px solid #bc9cff;
}
