mixin checkbox(checkbox)
  div(class='checkbox__button' class= checkbox.nameClass)
    input(type='checkbox' class='checkbox__box' id=  checkbox.name name=  checkbox.name value=  checkbox.name)
    label(class='checkbox__label'   class=  checkbox.boxClass for=  checkbox.name)=  checkbox.label
    if block 
      block