mixin checkbox(name, label, nameClass)
  div(class='checkbox__button' class=nameClass)
    input(type='checkbox' class='checkbox__button checkbox__box' id= name name= name value= name)
    label(class='checkbox__button checkbox__name' for= name)= label