@import "../../components/variables.scss";

.checkbox__box,
.checkbox__name {
  display: block;
  cursor: pointer;
  &:before {
    content: "\2714";
    font-family: "Times New Roman", Times, serif;
    border-radius: 0.2em;
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
    border: $border-state;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 14px;
    padding-left: 5px;
  }
}

.checkbox__name {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.checkbox__box {
  display: none;
}
.checkbox__box + .checkbox__name:active:before {
  transform: scale(0);
}

.checkbox__box:checked + .checkbox__name:before {
  color: #bc9cff;
  border: 1.5px solid #bc9cff;
}
