mixin radio-button(idName, labelName)
  div(class='radio')
    input(id= idName name='radio' type='radio' class='radio__input' checked)
    label(for= idName class='radio__label')
    label(for= idName class='radio__value')= labelName