mixin radio-button(radio)
  div(class='radio')
    input(id= radio.idName name='radio' type='radio' class='radio__input' checked)
    label(for= radio.idName class='radio__label')
    label(for= radio.idName class='radio__value')= radio.labelName