.logo {
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    width: 210px;
    height: 60px;
    display: inline-block;
    &_header{
      margin-top: 27px
    }
    &_footer{
      margin-top: 20px;
    }
  }