.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    width: 210px;
    height: 60px;
    vertical-align: middle;
    margin-top: 25px;
    display: inline-block;
  }