extends ../layout.pug
include ../../components/form-search/form-search.pug

block content
  div(class='search-page__background')
    +form-search( 'Найдём номера под ваши пожелания', {checkin: 'Прибытие', checkout: 'Выезд', guests: 'Гости'})
    p(class='search-page__slogan' style='white-space:pre;') 
      |Лучшие номера для вашей работы, 
      |  отдыха и просто вдохновения
