.main-background-search{
    min-height: 800px;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
}

.clear{
    clear: both;
}

.slogan{
    position: relative;
    top: 80%;
    left: 70%;
}