doctype html
html
  head
    title my jade template
  body
    include ../header/header.pug
    .clear
    .main-background
      include ../form-search/form-search.pug
    include ../footer/footer.pug