doctype html
html
  head
    title my jade template
  body
    include ../header/header.pug
    .clear
    .main-background-search
      p(class="slogan") Лучшие номера для вашей работы, отдыха и просто вдохновения
      include ../form-search/form-search.pug
    include ../footer/footer.pug