include ../header/header.pug
include ../form-search/form-search.pug
include ../footer/footer.pug
doctype html
html
  head
    title my jade template
  body
    +header(['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'])
      +button-signin-header('Войти', 'signin-page.html', 'header-btn-signin' )
      .header-btn-signup
        +button-signup('Зарегистрироватьcя', 'signup-page.html')
    .clear
    .main-background-search
      +form-search('Найдём номера',  'под ваши пожелания', {checkin: 'Прибытие', checkout: 'Выезд', guests: 'Гости'})
      p(class='slogan' style='white-space:pre;') 
        |Лучшие номера для вашей работы, 
        |  отдыха и просто вдохновения
    +footer({name1: 'навигация', name2: 'о нас', name3: 'Служба поддержки', name4: 'Подписка'}, ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Соглашения', 'Сообщества', 'Связь с нами'], 'Copyright © 2018 Toxin отель. Все права зачищены.')
