doctype html
html
  head
    title my jade template
  body
    include ../header/header.pug
    .clear
    .main-background-search
      include ../form-search/form-search.pug
      p(class='slogan' style='white-space:pre;') 
        |Лучшие номера для вашей работы, 
        |  отдыха и просто вдохновения
    include ../footer/footer.pug