.main-background-search{
    height: 1300px;
    background-image: url(../images/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 95px;
}

.clear{
    clear: both;
}

.slogan{
    position: relative;
    font-size: 20px;
    left: 70%;
    margin-top: 600px;
}