div(class="row")
    svg
        circle(class="circle")
        circle(class="circle1")
        circle(class="circle2")
        circle(class="circle3")   
        g(class="chart-text")
            text(x="30%" y="35%" class="chart-number") 260
            text(x="30%" y="35%" class="chart-label") голосов
    figcaption(class="figure-key")
        ul(class="figure-key-list" aria-hidden="true" role="presentation")
            li
                span(class="shape-circle shape-fuschia")            
                |             Великолепно
            li
                span(class="shape-circle shape-lemon-lime") 
                |             Хорошо
            li
                span(class="shape-circle shape-blue")
                |             Удовлетворительно
            li
                span(class="shape-circle shape-grey")
                |             Разочарован
