.header-btn-signin{
    display: inline-block;
    padding: 11px 30px;
    border: 2.4px solid #BC9CFF;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 17.5px;
    color: #BC9CFF;
    text-decoration: none;
    font-family: "OpenSans-Bold";
    margin: 16px 25px  16px 23px;
  }