include ../header/header.pug
doctype html
html
  head
    title my jade template
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
    +header()
    .clear

    .sugnup-background
      include ../form-register/form-register.pug
    include ../footer/footer.pug

  