.main-background{
    min-height: 1010px;
    background-image: url(../images/bg_in.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 240px;
    width: 100%;
}

.sugnup-background{
    min-height: 930px;
    background-image: url(../images/bg_in.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 30px;
}
.clear{
    clear: both;
}