.dd {
  display: inline-block;
  position: relative;
  &__item {
    position: relative;
    display: inline-block;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    width: 480px;
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.14rem;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.45);
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    &::after {
      content: "";
      padding: 6px;
      box-shadow: 3px -3px 0 0 rgba(31, 32, 65, 0.5) inset;
      display: inline-block;
      transform: rotate(-45deg);
      color: rgba(31, 32, 65, 0.5);
      position: absolute;
      left: 21.5em;
      top: 1.2em;
      cursor: pointer;
    }
  }
  &__input {
    display: none;
    & + .dd__menu {
      display: none;
    }
    &:checked + .dd__menu {
      display: block;
    }
  }
  &__menu {
    width: 474px;
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
    margin-top: 0;
  }

  &__row {
    padding: 5px 20px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: #f6f6f6;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 22px;
    background: #ffffff;
    outline: none;
    cursor: pointer;
  }
  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #1f2041;
  }
  &__text {
    margin: 13px 17px 0 17px;
  }
  &__clean {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    border: none;
    background: transparent;
    outline: none;
    margin: 30px 0 10px 0px;
    cursor: pointer;
  }

  &__apply {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    border: none;
    background: transparent;
    outline: none;
    margin: 30px 0px 10px 0;
    cursor: pointer;
  }
}

@media only screen and (max-width: 450px) {
  .dd {
    &__menu {
      width: 310px;
    }
  }
}
