
include ../mixins.pug
include ../signup-button/signup-button.pug
mixin header()
  div(class='menu')
    div(class='container')
      div(id='logo' class='menu__logo')
      label(for='drop' class='menu__logo__toggle') 
          i(class='fa fa-bars' aria-hidden='true')
      input(type='checkbox' class='menu__logo__drop' id='drop')
      ul(class='menu__nav')
        +list('О нас')
        +list('Услуги')
        +list('Вакансии')
        +list('Новости')
        +list('Соглашения')
        +button-signin-header('Войти', 'signin-page.html', 'header-btn-signin' )
        .header-btn-signup
          +button-signup('Зарегистрироватьcя', 'signup-page.html')