
include ../mixins.pug

nav.container.menu
  div(id="logo" class="menu__logo")
  label(for="drop" class="menu__logo_toggle") Menu
  input(type="checkbox" class="menu__logo_drop" id="drop")
  ul(class="menu__nav")
    +list('О нас')
    +list('Услуги')
    +list('Вакансии')
    +list('Новости')
    +list('Соглашения')
    +button-signin('Войти', 'signin-page.html')
    +button-signup('Зарегистрироватьcя')