//- nav(class="container header")
//-   a.logo.logo-menu
//-   input(class="menu-btn" type="checkbox" id="menu-btn")
//-   label(class="menu-icon" for="menu-btn")
//-     .navicon
//-   ul(class="menu")
//-     li
//-       a О нас
//-     li 
//-       a Услуги
//-     li
//-       a Вакансии
//-     li
//-       a Новости
//-     li 
//-       a Соглашения
//-     a(class='button' href='#' class="btn btn-link btn-link-menu") Войти
//-     button(type="button" class="btn btn-small-violet") Зарегистрироватьcя

nav.container
  #logo 
    img
  label(for="drop" class="toggle") Menu
  input(type="checkbox" id="drop")
  ul(class="menu")
    li
      a(href="") О нас
    li
      a(href="#") Услуги
    li
      a(href="#") Вакансии
    li
      a(href="#") Новости
    li
      a(href="#") Соглашения
    li 
     a(class='button' href='signin-page.html' class="btn btn-link btn-link-menu") Войти
    button(type="button" class="btn btn-small-violet btn-menu") Зарегистрироватьcя