// @import "../components/variables.scss";

.header{
  display: flex;
  justify-content: space-between;
}
.menu {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.menu {
  &__toggle {
    display: none;
  }
  &__drop {
    display: none;
  }
  &__nav {
    padding: 15px 0;
    margin: 0;
    list-style: none;
    position: relative;
    & li {
      margin: 0px;
      display: inline-block;
      & a {
        display: block;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 1.12rem;
        color: rgba(31, 32, 65, 0.5);
        padding: 26px 18.5px;
      }
    }
  }
}
.menu li:nth-child(2) > a:after {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  color: rgba(31, 32, 65, 0.5);
}

.menu li:nth-child(5) > a:after {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 rgba(31, 32, 65, 0.5) inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  color: rgba(31, 32, 65, 0.5);
}

.btn-signup {
  margin-top: 13px;
}

.header-btn-signup {
  display: inline-block;
}
@media (max-width: 1300px) {
  .menu {
    margin: 0;
    &__logo {
      display: block;
      padding: 20px 0 10px 0;
      width: 180px;
      height: 50px;
      text-align: center;
      float: none;
      &__toggle {
        display: block;
        padding: 14px 20px;
        color: linear-gradient(
          180deg,
          rgb(188, 156, 255),
          rgb(139, 164, 249) 100%
        );
        font-size: 17px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        & a {
          display: none;
        }
      }
      &__drop:checked + ul {
        display: block;
      }
    }
    &__nav {
      float: left;
      width: 100%;
      display: none;
      & li {
        display: block;
        width: 100%;
        margin-top: -20px;
      }
    }
  }

  .btn-menu {
    margin-bottom: 10px;
  }

  .menu__logo__toggle {
    margin-left: 90%;
    margin-top: -60px;
  }

  .fa-bars {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .header-btn-signin {
    margin: 10px 25px 16px 0px;
  }

  .header-btn-signup {
    margin-top: 10px;
  }
}
