.menu {
  margin: 0;
  padding: 0;
  & after {
    content: "";
    display: table;
    clear: both;
  }
  &__logo {
    background-image: url(../images/Logo.svg);
    background-image: url(../images/Logo.svg);
    background-repeat: no-repeat;
    width: 115px; height: 55px;
    margin-top: 10px;
    margin-left: 27px;
    background-repeat: no-repeat;
    display: block;
    padding: 10px 0 0 30px;
    float: left;
    &_toggle {
      display: none;
    }
    &_drop {
      display: none;
    }
  }
  &__nav {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    & li {
      margin: 0px;
      display: inline-block;
      float: left;
      & a {
        display: block;
        text-decoration: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: $black-text;
        padding: 26px 14px;
        letter-spacing: 0.8px;
      }
    }
  }
}

.menu li:nth-child(2) > a:after {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  color: $black-text;
}

.menu li:nth-child(5) > a:after {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  color: $black-text;
}


.btn-signup {
  margin-top: 13px;
}
@media (max-width: 1300px) {
  .menu {
    margin: 0;
    &__logo {
      display: block;
      padding: 20px 0 10px 0;
      width: 100%;
      text-align: center;
      float: none;
      &_toggle {
        display: block;
        padding: 14px 20px;
        color: $violet-gradient;
        font-size: 17px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        & a {
          display: none;
        }
      }
      &_drop:checked + ul {
        display: block;
      }
    }
    &__nav {
      float: left;
      width: 100%;
      display: none;
      & li {
        display: block;
        width: 100%;
        margin-top: -20px;
      }
    }
  }

  .btn-menu {
    margin-bottom: 10px;
  }
}


.header__btn--signin{
  display: inline-block;
  padding: 10px 25px;
  border: 2.4px solid $violet-text;
  text-transform: uppercase;
  border-radius: 30px;
  color: $violet-text;
  text-decoration: none;
  font-family: "OpenSans-Bold";
  margin: 16px 16px  16px 23px;
}

.btn-signup{
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 7px;
}