nav(class="mobile-menu")
  .container
    label(for="show-menu" class="show-menu")
      span Menu
      .lines
    input(type="checkbox" id="show-menu")
    ul(id="menu")
     li 
       a(href="#") О нас
     li 
       a(href="#") Услуги
     li 
       a(href="#") Вакансии
     li 
       a(href="#") Новости
     li 
       a(href="#") Соглашения
     a
      button(class="btn-login") Войти
     a
      button(class="btn-register") Зарегистрироваться    
  .logo