

// Style for input with arrow
.form-subscribe {
  width: 385px;
  margin-top: 35px;
  & input {
    padding: 24px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    box-sizing: border-box;
    background: #ffffff;
    border: $border-state;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 18px;
      color: $color-standart;
    }
    &:hover,
    &:focus {
      outline: none;
      &::placeholder {
        color: $black-darken;
      }
    }
  }
}
.form-subscribe button {
  float: left;
  width: 20%;
  padding: 17.5px;
  background: #fff;
  color: #bc9cff;
  font-size: 24px;
  border: $border-state;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  &:hover {
    color: #bc9cff;
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// Styles for checkbox
.checkbox__box,
.checkbox__name {
  display: block;
  cursor: pointer;
  &:before {
    content: "\2714";
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0.2em;
    display: inline-block;
    width: 29px;
    height: 29px;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
    border: $border-state;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 14px;
    padding-left: 5px;
  }
}

.checkbox__name {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.checkbox__box {
  display: none;
}
.checkbox__box + .checkbox__name:active:before {
  transform: scale(0);
}

.checkbox__box:checked + .checkbox__name:before {
  color: #bc9cff;
  border: 1.5px solid #bc9cff;
}

.checkbox__name__descr {
  font-weight: bold;
  letter-spacing: 0.9px;
  margin-top: -3px;
}

#slider-range {
  position: relative;
  width: 395px;
  height: 6px;
  background-color: white;
}

#slider-range .ui-state-default,
#slider-range .ui-widget-content .ui-state-default,
#slider-range .ui-widget-header .ui-state-default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  outline: 0;
  margin-top: -3px;
}

#slider-range .ui-slider-horizontal {
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

#slider-range .ui-widget-header {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

@media only screen and (max-width: 600px) {
  .bullet-list {
    > li {
      list-style: none;
      position: relative;
      padding: 0 0 0 1.7em;
      transition: 0.12s;
      font-size: 16px;

      &::before {
        position: absolute;
        content: "\2022";
        font-family: Arial;
        color: grey;
        top: -7px;
        left: 5px;
        text-align: center;
        font-size: 28px;
        opacity: 0.5;
        line-height: 1;
        transition: 0.5s;
      }
    }
  }

  .room__feedback__wrapper {
    &__person {
      display: flex;
      flex-direction: row;
      margin-left: -15px;
      margin-top: -7px;
      & img {
        width: 120px;
        height: 120px;
      }
      & h4 {
        margin-block-start: 1em;
        margin-block-end: 0.4em;
        font-size: 17px;
        font-weight: bold;
        margin-left: -14px;
      }
      & p {
        margin-block-start: 0em;
        margin-block-end: 0em;
        font-size: 14px;
        font-weight: 300;
        margin-left: -14px;
      }
    }
    &__evaluation {
      display: flex;
      margin-top: -24px;
      & p {
        margin-left: 27px;
        margin-top: -2px;
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
      }
      & button {
        width: 70px;
        height: 27px;
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 25px;
        outline: none;
        color: rgba(31, 32, 65, 0.25);
        margin-left: 17px;
        & span {
          margin-left: 5px;
        }
        &:hover {
          color: #bc9cff;
          transform: scale(1.2);
          border-color: #bc9cff;
          span {
            opacity: 1;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
