@import "../components/variables.scss";
// Style for input with arrow

// Styles for checkbox

#slider-range {
  position: relative;
  width: 395px;
  height: 6px;
  background-color: white;
}

#slider-range .ui-state-default,
#slider-range .ui-widget-content .ui-state-default,
#slider-range .ui-widget-header .ui-state-default {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
  outline: 0;
  margin-top: -3px;
}

#slider-range .ui-slider-horizontal {
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

#slider-range .ui-widget-header {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

@media only screen and (max-width: 600px) {
  .bullet-list {
    > li {
      list-style: none;
      position: relative;
      padding: 0 0 0 1.7em;
      transition: 0.12s;
      font-size: 16px;

      &::before {
        position: absolute;
        content: "\2022";
        font-family: Arial;
        color: grey;
        top: -7px;
        left: 5px;
        text-align: center;
        font-size: 28px;
        opacity: 0.5;
        line-height: 1;
        transition: 0.5s;
      }
    }
  }
}
