mixin list(name)
  li 
    a= name

mixin button-signin-header(name, link, className)
  a(class='btn  btn-link-menu', href= link, class= className)= name

mixin carouselPanel(name, imageUrl)
  .panel
    .image
      img(src= imageUrl)
    h2= name
  