$violet-gradient: linear-gradient(180deg, rgb(188,156,255), rgb(139,164,249) 100%);
$black-title: #1F2041;
$violet-text: #BC9CFF;     
$black-text: rgba(31, 32, 65, 0.5);
$light-black-color: rgba(31, 32, 65, 0.5);
$white-color: #fff;
$black-color:  #000000;

