$color-dark: #1F2041;
$color-second: rgba(#1F2041, 75%);
$color-third: rgba(#1F2041, 50%);
$color-fourth: rgba(#1F2041, 25%);
$color-fifth: rgba(#1F2041, 5%);
$color-purple: #BC9CFF;
$color-green: #6FCF97;          