.signup-page__background {
  min-height: 930px;
  background-image: url(../../components/images/bg_in.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 40px 0;
}
