extends ../layout.pug
include ../../blocks/form-register/form-register.pug

block content
  div(class='signup-page__background')
    +form-register({ addClass: 'signup_position', title: 'Регистрация аккаунта',  birthday: 'дата рождения', data: 'данные для входа в сервис', offer: 'Получать спецпредложения', login: 'Уже есть аккаунт на Toxin'})