.room-feedback {
  &__person {
    display: flex;
    flex-direction: row;
  }
  &__photo {
    width: 120px;
    height: 120px;
  }
  &__name {
    margin-block-start: 1em;
    margin-block-end: 0.4em;
    font-size: 21px;
    font-weight: bold;
  }
  &__date {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 20px;
    font-weight: 300;
    color: rgba(31, 32, 65, 0.75);
  }
  &__text {
    margin-left: 30px;
    margin-top: 0px;
    font-size: 1.14rem;
    line-height: 36px;
    color: rgba(31, 32, 65, 0.75);
  }
  &__evaluation {
    display: flex;
    flex-direction: row;
  }
  &__btn-like {
    margin-left: 30px;
    margin-top: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .room-feedback {
    &__person {
      display: flex;
      flex-direction: row;
    }
    &__photo {
      width: 120px;
      height: 120px;
    }
    &__name {
      margin-block-start: 1em;
      margin-block-end: 0.4em;
      font-size: 17px;
      font-weight: bold;
      margin-left: -14px;
    }
    &__date {
      margin-block-start: 0em;
      margin-block-end: 0em;
      font-size: 14px;
      font-weight: 300;
      margin-left: -14px;
    }

    &__evaluation {
      display: flex;
      margin-top: -24px;
    }
    &__text {
      margin-left: 10px;
      margin-top: -2px;
      font-size: 16px;
      font-weight: 500;
      line-height: 32px;
      width: 230px;
    }
    &__button {
      width: 70px;
      height: 27px;
      background: #ffffff;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 25px;
      outline: none;
      color: rgba(31, 32, 65, 0.25);
      margin-left: 17px;
      &__quantity {
        margin-left: 5px;
      }
      &:hover {
        color: #bc9cff;
        transform: scale(1.2);
        border-color: #bc9cff;
      }
    }
  }
}
