mixin feedback(imgName, personName, date, text)
  div(class='room-feedback')
      div(class='room-feedback__person')
        img(src= imgName class="person__photo")
        div
          h4(class="person__name")= personName
          p(class="person__date")= date
      div(class='room-feedback__evaluation row') 
        div(class='evaluation__btn-like')
          if block
            block
        div 
          p(class='evaluation__text')= text