mixin feedback(feedback)
  div(class='room-feedback')
      div(class='room-feedback__person')
        img(src= feedback.imgName class="room-feedback__photo")
        div
          h4(class="room-feedback__name")= feedback.personName
          p(class="room-feedback__date")= feedback.date
      div(class='room-feedback__evaluation') 
        div(class='room-feedback__btn-like')
          if block
            block
        div 
          p(class='room-feedback__text')= feedback.text