mixin feedback(imgName, personName, date, quantity,  text)
  div(class='room-feedback')
      div(class='room-feedback__person')
        img(src= imgName)
        div
          h4= personName
          p= date
      div(class='room-feedback__evaluation') 
        button(class='btn-like') 
          i(class='fas fa-heart') 
          span= quantity
        p(class='room-feedback__text')= text