

.container__form {
  align-content: center;
  margin: 0 auto;
}

.input__signin {
  margin-top: 8px;
  margin-bottom: 3px;
}

.input__signin--second {
  margin-top: 12px;
}

.btn__signin {
  margin-top: 26px;
}

.text {
  font-family: "OpenSans-Bold";
  font-size: 16px;
  line-height: 18px;
}

.text__signin{
    margin-top: 65px;
}

.btn__create{
    margin-top: 45px;
}

// .display__flex{
//     display: flex;
//     justify-content: space-between;
// }



// @media only screen and (max-width: 700px) {
  
//   .wrap{
//     width: 300px;
//   }

//   .input_text {
//     width: 280px;
//     height: 45px;
// }

// .btn-confirm {
//   width: 280px;
//   height: 45px;
//   font-size: 16px;

// }
// }
