include ../input-text/input-text.pug
mixin form-signin(title, login)
  div(class='form-signin')
    div(class='form-signin__container')
      h1(class='form-signin__title')= title
      +input-text('Email')
      div(class='form-signin__input form-signin__input_second')
        +input-text('Пароль')
      div(class='form-signin__button')
        +button('Войти', '#', 'btn__confirm')
      div(class='form-signin__wrapper')
        div(class='form-signin__text')= login
        div(class='form-signin__create')
          +button('Создать', 'signin-page.html', 'btn__signin')