.wrapper
  .wrap
    .container__form
        h1(
          class="title__main"
        ) Войти

        input(class="input_text input__signin" placeholder="Email")
        input(class="input_text input__signin input__signin--second" placeholder="Пароль")

        button(type="button" class="btn  btn-confirm btn__signin") Войти
        
        .flex-row
          div(class="text text__signin") Нет аккаунта на Toxin?
          +button-signin('Создать', 'signin-page.html', "btn__create")
