.wrapper
  .wrap
      h1(
        class="title main-title"
      ) Войти

      input(class="input_text" placeholder="Email")
      input(class="input_text" placeholder="Пароль")

      button(type="button" class="btn btn-width-violet") Перейти к оплате
      
      .flex
        p(class="formtext") Уже есть аккаунт на Toxin
        a(class='button' href='#' class="btn btn-link linkform") Войти