

.signin-container-form {
  padding: 32px 30px 40px 40px;
}

.input-signin {
  margin-top: 8px;
  margin-bottom: 3px;
}

.input-signin--second {
  margin-top: 12px;
}

.btn-signin {
  margin-top: 26px;
}

.text {
  font-family: "OpenSans-Bold";
  font-size: 0;
  line-height: 18px;
}

.text-signin{
    margin-top: 65px;
}

.btn-create{
    margin-top: 45px;
}

// .display__flex{
//     display: flex;
//     justify-content: space-between;
// }



// @media only screen and (max-width: 700px) {
  
//   .wrap{
//     width: 300px;
//   }

//   .input_text {
//     width: 280px;
//     height: 45px;
// }

// .btn-confirm {
//   width: 280px;
//   height: 45px;
//   font-size: 16px;

// }
// }
