include ../mixins.pug


.wrap.form-search
  .container-form
    h1(
      class="title main-title"
        ) Найдём номера под ваши пожелания

    .row.flexs
      .block
        label(for="start-date" class="label") прибытие
        input(type="text" name="start-date" id="start-date" placeholder="Start date" class="input-date start-date")
      .block
        label(for="end-date" class="label") выезд
        input( type="text" name="end-date" id="end-date" placeholder="End date" class="input-date")

    +input-text("Email")

    button(type="button" class="btn btn-width-violet") Перейти к оплате