.flexs {
  display: flex;
  justify-content: space-between;
}

.texts {
  margin: 7px 10px 0 10px;
}

// .button {
//   width: 40px;
//   height: 40px;
//   background-color: #fff;
//   border: 1px solid rgba(31, 32, 65, 0.25);
//   box-sizing: border-box;
//   border-radius: 22px;
// }

.start-date::before {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  color: $black-text;
  background-repeat: no-repeat;
}

.input-date {
  padding-left: 15px;
}

.input__date--single {
  width: 266px;
  height: 44px;
  background: #ffffff;
  /* Dark 25% */

  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.input__date--single::before {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 30px;
  color: $black-text;
  background-repeat: no-repeat;
}

.form-search {
  width: 560px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  // padding: 30px 40px;
}

.search-title-checkout {
  margin-left: 32%;
}

.search-container-form {
  padding: 6% 7%;
}
// .form-search__label{
//   font-family: "Montserrat";
//   font-style: normal;
//   font-weight: bold;
//   font-size: 18px;
//   line-height: 15px;
//   text-transform: uppercase;
//   text-decoration: none;
//   padding-bottom: 10px;
//   margin-top: 10px;
// }

// .form-search__label-arrival{
//     padding-right: 140px;
// }

// .form-search__label-guests{
//   padding-top: 40px;
// }

// .form__search__btn{
//   margin-left: 10px;
// }

.search-dropdown .dropdowns .dd-button {
  margin-bottom: 20px;
}

.search-btn-confirm {
  margin: 25px 0;
}

@media only screen and (max-width: 700px) {
  .form-search .dropdowns .dd-button::after {
    left: 21.5em;
  }
  .menu-logo {
    display: block;
    padding: 20px 0 10px 0;
    width: 180px;
    height: 50px;
    text-align: center;
    float: none;
  }

  .menu-logo-toggle {
    margin-left: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .form-search {
    width: 500px;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .search-container-form {
    padding: 3% 1%;
  }

  .form-search .title-main {
    font-size: 23px;
  }

  .form-search .dropdowns .dd-button::after {
    left: 27.5em;
  }
}

@media only screen and (max-width: 500px) {
  .form-search {
    width: 340px;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .search-dropdown .range {
    width: 150px;
  }
  .search-dropdown .dropdowns .dd-button {
    width: 320px;
  }

  .form-search .btn-confirm {
    width: 320px;
  }
}
@media only screen and (max-width: 550px) {
  // .form-search {
  //   width: 3x;
  // }

  // .calculator__container{
  //   margin: 10px;
  // }

  // .form-search .range {
  //   width: 180px;
  // }

  .form-search .datepicker {
    width: 280px;
  }
  // .form-search .dropdowns .dd-button {
  //   width: 370px;
  // }

  // .form-search .dropdowns .dd-menu {
  //   width: 370px;
  // }

  // .calculator__total{
  //   font-weight: bold;
  // }

  // .form-search .btn-confirm {
  //   width: 370px;
  // }

  .title-checkout {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 400px) {
  .form-search {
    width: 310px;
  }

  .forn-search {
    margin-left: 0px;
  }

  .form-search .range {
    width: 130px;
    height: 50px;
  }

  .form-search .datepicker {
    width: 280px;
  }
  .form-search .dropdowns .dd-button {
    width: 290px;
    height: 50px;
  }

  .form-search .dropdowns .dd-menu {
    width: 280px;
  }

  .form-search .btn-confirm {
    width: 290px;
    height: 50px;
  }

  .form-search .dropdowns .dd-button::after {
    left: 16em;
  }

  .title-checkout {
    margin-left: 20%;
  }
}
