.ui-datepicker {
  width: 320px;
  background: white;
  padding: 20px 0 20px 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  display: none;
  .ui-datepicker-header {
    background: #fff;
    border: none;
    padding-top: 12px;
    padding-bottom: 9px;
    .ui-datepicker-title {
      line-height: normal;
      font-size: 0;
      font-weight: bold;
      font-size: 19px;
      text-align: center;
      color: #1f2041;
      .ui-datepicker-month {
        text-align: center;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: #1f2041;
      }
      .ui-datepicker-year {
        text-align: center;
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: #1f2041;
      }
    }
  }

  .ui-datepicker-group {
    margin: 0;
    width: calc(50% - 4px) !important;
    color: $violet-text;
  }
  .ui-datepicker-calendar {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0px;

    td,
    th {
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      background: white;
      color: #bc9cff;
    }
    th {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      color: $violet-text;
      font-size: 13px;
      font-family: Montserrat;
      color: #bc9cff;
      > span {
        color: #bc9cff;
      }
    }
    .sejour{
      > a {
        background: rgba(#8ba4f9, 0.3);
        border: none;
      }
    }
    .current {
      > a {
        background: red;
      }
    }
    .start {
      > a {
        border: 1px solid linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        position: relative;
        background: $violet-gradient;
        border-radius: 22px;
        font-weight: bold;
        color: #ffffff;
      }
    }
    .end {
      > a {
        border: 1px solid linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 15px;
        position: relative;
        background: $violet-gradient;
        border-radius: 22px;
        font-weight: bold;
        color: #ffffff;
      }
    }
    .ui-state-default {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 23px;
      text-align: center;
      padding: 0;
      border: none;
      outline: 0;
      background: none;
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      padding-top: 10px;
      color: rgba(31, 32, 65, 0.5);
      &:hover {
        background: red;
      }
    }
  }
}
#ui-datepicker-div .ui-state-highlight {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 27px;
}

.flexs {
  justify-content: space-between;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  width: 20px;
  height: 20px;
  text-indent: 9999px;
  cursor: pointer;
  overflow: hidden;
  padding-top: 17px;
}

.ui-datepicker-prev {
  background: url(../images/arrow_back.svg);
  background-repeat: no-repeat;
  float: left;
  margin-left: 5px;
}

.ui-datepicker-next {
  background: url(../images/arrow_forward.svg);
  background-repeat: no-repeat;
  float: right;
  padding-right: 50px;
}

.dp-highlight .ui-state-default {
  background: #484;
  color: #fff;
  padding: 0;
  margin: 0;
}
// .ui-datepicker.ui-datepicker-multi  {
//   width: 100% !important;
// }
// .ui-datepicker-multi .ui-datepicker-group {
// float:none;
// }
// #datepicker {
//   height: 300px;
//   overflow-x: scroll;
// }
// .ui-widget { font-size: 100% }

/* Dropdown */
.dropdown {
  margin-top: 20px;
}
.dropdowns {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  background-color: #fff;
  border-radius: 4px;
  width: 320px;
  height: 44px;
}

.dd-button:after {
  content: "";
  padding: 4px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 165px;
  color: $black-text;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  width: 320px;
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.titles{
  color: #1F2041;
  margin-top: 7px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  width: 310px;
  display: flex;
  justify-content: space-between;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.flexs {
  display: flex;
  justify-content: space-between;
}

.texts {
  margin: 7px 10px 0 10px;
}

.button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 22px;
}

.start-date::before {
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 10px;
  color: $black-text;
  background-repeat: no-repeat;
}



.input-date{
  padding-left: 15px;
}

.input__date--single{
  width: 266px;
height: 44px;
background: #FFFFFF;
/* Dark 25% */

border: 1px solid rgba(31, 32, 65, 0.25);
box-sizing: border-box;
border-radius: 4px;
}

.input__date--single::before{
  content: "";
  padding: 5px;
  //   //set tickness
  box-shadow: 2px -2px 0 0 $black-text inset;
  display: inline-block;
  transform: rotate(-45deg);
  margin-left: 30px;
  color: $black-text;
  background-repeat: no-repeat;
}

.form-search{
  margin: 70px 0 0 140px;
}