.sidebar {
  margin: 57px 90px 0 0;
  &__close {
    display: none;
  }
  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 17.8px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    letter-spacing: 0.2px;
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
    margin-bottom: 5px;
    &_price {
      padding: 45px 0 31px 0;
    }
    &_checkboxes {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    &_availability {
      padding-top: 35px;
      padding-bottom: 20px;
    }
    &_comfort {
      padding-top: 30px;
      padding-bottom: 8px;
    }
  }
  &__range {
    position: relative;
  }
  &__checkboxes {
    padding-left: 0;
    list-style: none;
  }
  &__checkbox {
    margin-bottom: 17px;
  }
  &__datepicker {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  &__extracomfort {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .sidebar {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .sidebar {
    &__close {
      display: block;
    }
  }
}
@media only screen and (max-width: 400px) {
  .sidebar {
    &__datepicker {
      & #single-range {
        width: 300px;
      }
    }
    &__dropdown {
      & .little-dd__item {
        width: 300px;
      }
    }
    &__range #slider-range {
      width: 300px;
    }
    &__close {
      display: block;
    }
  }
}
