.form-search {
  width: 560px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  &__container {
    padding: 6% 8% 6% 7%;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
  }
  &__title {
    max-width: 400px;
    font-family: "OpenSans-Bold";
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.89rem;
  }
  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 17.8px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    letter-spacing: 0.2px;
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
    margin-bottom: 5px;
    &_type {
      &_checkin {
        padding-top: 5px;
        padding-bottom: 10px;
      }
      &_checkout {
        margin-left: 29%;
        padding-top: 5px;
        padding-bottom: 10px;
      }
      &_guests {
        padding-bottom: 8px;
      }
    }
  }
  &__datepicker {
    margin-bottom: 30px;
  }
  &__button {
    margin: 40px 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .form-search {
    width: 500px;
    padding: 20px 10px;
    margin: 0 auto;
    &__container {
      padding: 3% 1%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .form-search {
    width: 340px;
    padding: 20px 10px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 550px) {
  .form-search {
    &__subtitle_checkout {
      margin-left: 25%;
    }
  }
}

@media only screen and (max-width: 400px) {
  .form-search {
    width: 310px;
  }
}
