mixin rooms()
    div(class='rooms')
        h1(class='rooms__title') Номера, которые мы для вас подобрали
        span(class='rooms__slide' id='slide')
            a(href='#')
                i(class='fa fa-arrow-right')
        div(class='rooms__content')
            div(class='rooms__card')
                +set('luxe')
                    span люкс
                +card-room({ slickName: 'carousel', imgList: [require('./images/room1.jpg'), require('./images/room1.jpg'), require('./images/room1.jpg'), require('./images/room1.jpg')]},{number: 888,  price: '9  990₽',day: ' в сутки',  feedback: 145, textFeedback:' Отзывов'})
                    +stars('--rating: 5')
                    +set('luxe')
            div(class='rooms__card')
                +card-room({slickName: 'carousel1',  imgList:[require('./images/room2.jpg'), require('./images/room2.jpg'), require('./images/room2.jpg'), require('./images/room2.jpg')]}, {number:840, price: '9  900₽', day:' в сутки', feedback: 65 , textFeedback:' Отзывов'})
                    +stars('--rating: 4')
                    +set('luxe')
                        span люкс
            div(class='rooms__card')
                +card-room({slickName: 'carousel2', imgList: [require('./images/room3.jpg'), require('./images/room3.jpg'), require('./images/room3.jpg'), require('./images/room3.jpg')]}, {number: 980, price:  '8 500₽',day: ' в сутки', feedback:35, textFeedback:' Отзывов' })
                    +stars('--rating: 3')
                    +set('luxe')
            div(class='rooms__card')
                +card-room( {slickName:'carousel3', imgList: [require('./images/room4.jpg'), require('./images/room4.jpg'), require('./images/room4.jpg'), require('./images/room4.jpg')]}, {number:856, price: '7 300₽', day:' в сутки', feedback:19,  textFeedback:' Отзывов'})
                    +stars('--rating: 5')
            div(class='rooms__card')
                +card-room( {slickName:'carousel4', imgList: [require('./images/room5.jpg'), require('./images/room5.jpg'), require('./images/room5.jpg'), require('./images/room5.jpg')]}, {number:740, price: '6 000₽',  day:' в сутки', feedback:44, textFeedback:' Отзывов'})
                    +stars('--rating: 4')
            div(class='rooms__card')
                +card-room( {slickName:'carousel5', imgList: [require('./images/room6.jpg'), require('./images/room6.jpg'), require('./images/room6.jpg'), require('./images/room6.jpg')]}, {number:982, price: '5 800₽', day:' в сутки', feedback:56, textFeedback:' Отзывов'})
                    +stars('--rating: 3')
            div(class='rooms__card')
                +card-room( {slickName:'carousel6', imgList: [require('./images/room7.jpg'), require('./images/room7.jpg'), require('./images/room7.jpg'), require('./images/room7.jpg')]}, {number:678, price: '5 500₽', day:' в сутки', feedback:45, textFeedback:' Отзывов'})
                    +stars('--rating: 5')
            div(class='rooms__card')
                +card-room( {slickName:'carousel7', imgList: [require('./images/room8.jpg'), require('./images/room8.jpg'), require('./images/room8.jpg'), require('./images/room8.jpg')]}, {number:450, price: '5 300₽',  day:' в сутки', feedback:39, textFeedback:' Отзывов'})
                    +stars('--rating: 4')
            div(class='rooms__card')
                +card-room({slickName:'carousel8',imgList:  [require('./images/room9.jpg'), require('./images/room9.jpg'), require('./images/room9.jpg'), require('./images/room9.jpg')]}, {number:350, price: '5 000₽',  day:' в сутки', feedback:77, textFeedback:' Отзывов'})
                    +stars('--rating: 3')
            div(class='rooms__card')
                +card-room({slickName:'carousel9', imgList: [require('./images/room1.jpg'), require('./images/room1.jpg'), require('./images/room1.jpg'), require('./images/room1.jpg')]},{number: 666, price: '5 000₽', day:' в сутки', feedback:25, textFeedback:' Отзывов'})
                    +stars('--rating: 5')
            div(class='rooms__card')
                +card-room({slickName:'carousel10',imgList:  [require('./images/room3.jpg'), require('./images/room3.jpg'), require('./images/room3.jpg'), require('./images/room3.jpg')]}, {number:444, price: '5 000₽', day:' в сутки', feedback:15, textFeedback:' Отзывов'})
                    +stars('--rating: 4')
            div(class='rooms__card')
                +card-room({slickName:'carousel11', imgList: [require('./images/room4.jpg'), require('./images/room4.jpg'), require('./images/room4.jpg'), require('./images/room4.jpg')]},  {number:352, price: '5 000₽', day:'в сутки', feedback:55, textFeedback:'Отзывов'})
                    +stars('--rating: 3')
        div(class='rooms__pagination')
            +pagination({backButton: 'arrow_back', forwardButton: 'arrow_forward', title: '1 – 12 из 100+ вариантов аренды'})