footer.footer
  .footer-content
    .footer-list
      .logo
      p Бронирование номеров в лучшем
      |отеле 2019 года по верси
    .footer-list
      h3 Навигация
      ul
        li О нас
        li Новости
        li Служба поддержки
        li Услуги
    .footer-list
      h3 О нас
      ul
        li О сервисе
        li Наша команда
        li Вакансии
        li Инвесторы
    .footer-list
      h3 Служба поддержки
      ul
        li Соглашения
        li Сообщества
        li Связь с нами
    .footer-list
      h3 Подписка
      p Получайте специальныe
      input(class="input-footer" placeholder="Email")
  .footer-about.flex
      .copyright Copyright &copy; 2018 Toxin отель. Все права зачищены.
      ul.about-list
        li
          a
            i(class="social-icon icon-twitter")
        li
          a
            i(class="social-icon icon-facebook")
        li
          a
            i(class="social-icon icon-instagram")
