include ../mixins.pug
footer
  .footer.container
    .footer__nav
      .footer__nav__block
        .logo(class="footer__block logo")
        div
          p(style='white-space:pre;')
            | Бронирование номеров в лучшем 
            | отеле 2019 года по версии
            | ассоциации «Отельные взгляды»
      .footer__nav__block
        h3(class="footer__block footer__title") Навигация
        ul
          li 
            a О нас
          li
            a Новости
          li 
            a Служба поддержки
          li
            a Услуги
      .footer__nav__block
        h3(class="footer__block footer__title") О нас
        ul
          li 
            a О сервисе
          li 
            a Наша команда
          li 
            a Вакансии
          li 
            a Инвесторы
      .footer__nav__block
        h3(class="footer__block footer__title") Служба поддержки
        ul
          li 
            a Соглашения
          li
            a  Сообщества
          li
            a Связь с нами
      .footer__nav__block
        h3(class="footer__block footer__title") Подписка
        p(style='white-space:pre;' class="footer__title--describtion")
          | Получайте специальные
          | предложения и новости сервиса
        +input-subscription("Email")
  hr
  .container
     .footer__details.row
        p(class="footer__details__copyright") Сорyright &copy; 2018 Тохin отель. Все права зачищены. 
        ul.row
            li
              a(href="#")
                svg(width="0" height="0")
                  radialGradient(id="rg" r="150%" cx="30%" cy="107%")
                    stop(stop-color="#BC9CFF" offset="0")
                    stop(stop-color="#BC9CFF" offset="0.05")
                    stop(stop-color="#8BA4F9" offset="0.45")
                    stop(stop-color="#8BA4F9" offset="0.6")
                    stop(stop-color="#8BA4F9" offset="0.9")
                div.div
                  i(class="fab fa-twitter" aria-hidden="true")
            li
              a(href="#")
                svg(width="0" height="0")
                  radialGradient(id="rg" r="150%" cx="30%" cy="107%")
                    stop(stop-color="#BC9CFF" offset="0")
                    stop(stop-color="#BC9CFF" offset="0.05")
                    stop(stop-color="#8BA4F9" offset="0.45")
                    stop(stop-color="#8BA4F9" offset="0.6")
                    stop(stop-color="#8BA4F9" offset="0.9")
                div.div
                  i(class="fab fa-facebook-square" aria-hidden="true")
            li
              a(href="#")
                svg(width="0" height="0")
                  radialGradient(id="rg" r="150%" cx="30%" cy="107%")
                    stop(stop-color="##8BA4F9" offset="0")
                    stop(stop-color="#8BA4F9" offset="0.05")
                    stop(stop-color="#8BA4F9" offset="0.45")
                    stop(stop-color="#8BA4F9" offset="0.6")
                    stop(stop-color="#BC9CFF" offset="0.9")
                div.div
                  i(class="fab fa-instagram" aria-hidden="true")
            
