footer.footer.container
  .footer__nav
    .footer__nav__block
      .logo(class="footer__block logo")
    .footer__nav__block
      h3(class="footer__block title") Навигация
      ul
        li 
          a О нас
        li
          a Новости
        li 
          a Служба поддержки
        li
          a Услуги
    .footer__nav__block
      h3(class="footer__block title") О нас
      ul
        li 
          a О сервисе
        li 
          a Наша команда
        li 
          a Вакансии
        li 
          a Инвесторы
    .footer__nav__block
      h3(class="footer__block title") Служба поддержки
      ul
        li 
          a Соглашения
        li
          a  Сообщества
        li
          a Связь с нами
    .footer__nav__block
      h3(class="footer__block title") Подписка
      p Получайте специальныe
      input(class="input-footer" placeholder="Email")
  .footer__details.container
      .footer__details__copyright Copyright &copy; 2018 Toxin отель. Все права зачищены.
      ul.about-list.row
        li
          a(href="#")
            i(class="fab fa-twitter icon-a")
        li
          a(href="#")
            i(class="fab fa-facebook-f" id="red")
        li
          a(href="#")
            i(class="fab fa-instagram" )
         
