include ../mixins.pug
include ../../blocks/input-subscription/input-subscription.pug

mixin footer(linkList1, linkList2, linkList3)
  footer.footer
    .container
      .footer__nav
        .footer__nav__column
          .logo(class='logo')
          div
            p(style='white-space:pre;' class='footer__slogan')
              | Бронирование номеров в лучшем 
              | отеле 2019 года по версии
              | ассоциации «Отельные взгляды»
        .footer__nav__column
          h3(class='subtitle') Навигация
          ul
            each link in linkList1
              li
               a= link
        .footer__nav__column
          h3(class='subtitle') О нас
          ul
            each link in linkList2
              li
               a= link
        .footer__nav__column
          h3(class='subtitle') Служба поддержки
          ul
            each link in linkList3
              li
               a= link
        .footer__nav__column
          h3(class='subtitle') Подписка
          p(style='white-space:pre;' class='subtitle_describtion')
            | Получайте специальные
            | предложения и новости сервиса
          +input-subscription('Email')
    hr(class='footer__strip')
    div(class='footer__details').container
      .flex-row
          p(class='footer__details__copyright') Сорyright &copy; 2018 Тохin отель. Все права зачищены. 
          ul.row
              li
                a(href='#')
                  svg(width='0' height='0')
                    radialGradient(id='rg' r='150%' cx='30%' cy='107%')
                      stop(stop-color='#8BA4F9' offset='0')
                      stop(stop-color='#8BA4F9' offset='0.05')
                      stop(stop-color='#8BA4F9' offset='0.45')
                      stop(stop-color='#BC9CFF' offset='0.6')
                      stop(stop-color='#BC9CFF' offset='0.9')
                  div.div
                    i(class='fab fa-twitter' aria-hidden='true')
              li
                a(href='#')
                  svg(width='0' height='0')
                    radialGradient(id='rg' r='150%' cx='30%' cy='107%')
                      stop(stop-color='#BC9CFF' offset='0')
                      stop(stop-color='#BC9CFF' offset='0.05')
                      stop(stop-color='#8BA4F9' offset='0.45')
                      stop(stop-color='#8BA4F9' offset='0.6')
                      stop(stop-color='#8BA4F9' offset='0.9')
                  div.div
                    i(class='fab fa-facebook-square' aria-hidden='true')
              li
                a(href='#')
                  svg(width='0' height='0')
                    radialGradient(id='rg' r='150%' cx='30%' cy='107%')
                      stop(stop-color='#8BA4F9' offset='0')
                      stop(stop-color='#8BA4F9' offset='0.05')
                      stop(stop-color='#8BA4F9' offset='0.45')
                      stop(stop-color='#8BA4F9' offset='0.6')
                      stop(stop-color='#8BA4F9' offset='0.9')
                  div.div
                    i(class='fab fa-instagram' aria-hidden='true')