.footer {
  padding: 0 0 80px 0;
  background-color: $white-color;

  /*bg color*/
  &-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 10px;
    margin-top: 100px;
    &-block {
      margin: 0 10px 10px;
      text-decoration: none;
      & p {
        color: $black-text;
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 20.6px;
        line-height: 33px;
      }
      & ul {
        padding: 0;
        li {
          margin: 28px 0;
          & a {
            font-family: "Montserrat";
            font-size: 20.6px;
            color: $light-black-color;
          }
        }
      }
      & .input-footer {
        width: 260px;
        height: 44px;
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 20px;
        background-image: url(../images/arrow.svg);
        background-repeat: no-repeat;
        background-position-x: 17em;
        background-position-y: 0.8em;
        top: 20px;
        &::placeholder {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          color: rgba(31, 32, 65, 0.25);
          padding-left: 15px;
        }
      }
    }
  }
}

.footer-details {
  padding-top: 5px;
  padding-bottom: 20px;
  justify-content: space-between;
  &-copyright {
    color: $black-text;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20.6px;
    line-height: 33px;
    margin-left: 20px;
    margin-block-start: 0.8em;
  }
}

.footer-details ul li {
  height: 30px;
  width: 40px;
  margin-top: -25px;
  margin-right: 22px;
}
.footer-details .svg-inline--fa {
  font-size: 35px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 15px;
  &:last-child {
    margin-right: 20px;
  }
}
.footer-slogan {
  margin-top: 20px;
}
.div {
  display: flex;
  font-size: 50px;
  color: red;
}

.div svg * {
  fill: url(#rg);
}

/** Viewport <= 800px **/

@media only screen and (max-width: 600px) {
  .footer {
    padding-bottom: 30px;
    &-nav {
      padding: 0 0px 10px;
      &-block {
        margin: 0 0px 10px;
        text-decoration: none;
        & p {
          color: $black-text;
          font-weight: bold;
          font-size: 16px;
          line-height: 33px;
        }
        & ul {
          padding: 0;
          li {
            margin: 28px 0;
            & a {
              font-size: 16px;
              color: $light-black-color;
            }
          }
        }
        & .input-footer {
        }
      }
    }
  }
  .footer-nav {
    padding-top: 50px;
    margin-top: 20px;
  }

  .footer-nav-block .form-subscribe {
    width: 350px;
  }

  .footer-strip {
    display: none;
  }

  .footer-details {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .footer-nav-block .form-subscribe {
    width: 300px;
  }
}
