footer.footer
  .footer-content
    .footer-list
      .logo
    .footer-list
      h3 Навигация
      ul
        li О нас
        li Новости
        li Служба поддержки
        li Услуги
    .footer-list
      h3 О нас
      ul
        li О сервисе
        li Наша команда
        li Вакансии
        li Инвесторы
    .footer-list
      h3 Служба поддержки
      ul
        li Соглашения
        li Сообщества
        li Связь с нами
    .footer-list
      h3 Подписка
      p Получайте специальныe
      input(class="input-footer" placeholder="Email")
  .footer-about.flex
      .copyright Copyright &copy; 2018 Toxin отель. Все права зачищены.
      ul.about-list
        li
          a(href="#")
            i(class="fab fa-twitter" id="fon")
        li
          a(href="#")
             i(class="fab fa-facebook-f" id="fon")
        li
          a(href="#")
            i(class="fab fa-instagram" id="fon")
         
