.footer {
  background-color: #fff;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px 10px;
    margin-top: 100px;
    width: 80.5vw;
    margin: 0 auto;
    padding-top: 100px;
  }
  &__column {
    margin: 0 10px 10px;
    text-decoration: none;
    &_slogan {
      max-width: 380px;
      margin-top: -10px;
    }
    &_offer {
      max-width: 380px;
    }
  }
  &__subtitle {
    font-size: 18px;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-block-start: 0.7em;
  }
  &__items {
    padding: 0;
    list-style: none;
  }
  &__item {
    padding: 28px 0;
    cursor: pointer;
  }
  &__link {
    font-family: "Montserrat";
    font-size: 1.14rem;
    color: rgba(31, 32, 65, 0.5);
  }
  &__text {
    color: rgba(31, 32, 65, 0.75);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.14rem;
    line-height: 33px;
    max-width: 400px;
  }
  &__details {
    padding-top: 5px;
    padding-bottom: 30px;
    justify-content: space-between;
    width: 80.5vw;
    margin: 0 auto;
    & .svg-inline--fa{
      font-size: 38px;
    }
  }
  &__copyright {
    color: #1f2041;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.14rem;
    line-height: 33px;
    margin-left: 20px;
    margin-block-start: 0.8em;
    color: rgba(31, 32, 65, 0.75);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.14rem;
    line-height: 33px;
  }
  &__slogan {
    margin-top: 20px;
    color: rgba(31, 32, 65, 0.75);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 1.14rem;
    line-height: 33px;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__icons{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  &__icon {
    height: 30px;
    width: 40px;
    margin-top: -25px;
    margin-right: 22px;
    cursor: pointer;
  }
}
//These styles need for the gradient
.div {
  display: flex;
  font-size: 50px;
  color: red;
}

.div svg * {
  fill: url(#rg);
}

@media only screen and (max-width: 600px) {
  .footer {
    padding-bottom: 30px;
    &__container {
      padding: 0 0px 10px;
      padding-top: 50px;
      margin-top: 20px;
    }
    &__column {
      margin: 0 0px 10px;
      text-decoration: none;
    }
    &__text {
      color: rgba(31, 32, 65, 0.75);
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 1.14rem;
      line-height: 33px;
    }
    &__items {
      padding: 0;
    }
    &__item {
      padding: 10px 0;
    }
    &__link {
      font-size: 1.3rem;
      color: #1f2041;
    }
    &__strip {
      display: none;
    }
    &__details {
      display: none;
    }
  }
}
