footer.footer
  .footer-content
    .footer-list
      .logo
    .footer-list
      h3 Навигация
      ul
        li 
          a О нас
        li
          a Новости
        li 
          a Служба поддержки
        li
          a Услуги
    .footer-list
      h3 О нас
      ul
        li 
          a О сервисе
        li 
          a Наша команда
        li 
          a Вакансии
        li 
          a Инвесторы
    .footer-list
      h3 Служба поддержки
      ul
        li 
          a Соглашения
        li
          a  Сообщества
        li
          a Связь с нами
    .footer-list
      h3 Подписка
      p Получайте специальныe
      input(class="input-footer" placeholder="Email")
  .footer-about.flex
      .copyright Copyright &copy; 2018 Toxin отель. Все права зачищены.
      ul.about-list.row
        li
          a(href="#")
            i(class="fab fa-twitter icon-a")
        li
          a(href="#")
            i(class="fab fa-facebook-f" id="red")
        li
          a(href="#")
            i(class="fab fa-instagram" )
         
