.calculator {
  width: 560px;
  height: 750px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__container {
    margin: 55px 41px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__subtitles {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  &__subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 17.8px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
    letter-spacing: 0.2px;
    margin-block-end: 0.1em;
    margin-block-start: 0.1em;
    margin-bottom: 5px;
    &_checkout {
      margin-left: 30%;
    }
  }
  &__total-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 45px;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
  }
  &__price {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__count {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
  }
  &__info {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 14px;
    text-align: right;
    color: rgba(31, 32, 65, 0.25);
    border: 1px solid rgba(31, 32, 65, 0.25);
    padding: 3px 12px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 1vw;
  }
  &__text {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1600px) {
  .calculator {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .calculator {
    width: 480px;
    height: 650px;
    &__container {
      margin: 10px;
    }
    &__datepicker .date-dropdown__input {
      width: 180px;
    }
    &__datepicker .datepicker {
      width: 280px;
    }
    &__dropdown .dd-button {
      width: 460px;
    }
    &__subtitle_checkout {
      margin-left: 40%;
    }
    &__total-price {
      font-weight: bold;
    }
    & .btn__confirm {
      width: 460px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .calculator {
    width: 395px;
    &__container {
      margin: 10px;
    }
    &__datepicker {
      & .date-dropdown__input {
        width: 180px;
      }
      & .datepicker {
        width: 280px;
      }
    }
    &__dropdown {
      & .dd-button {
        width: 370px;
      }
      & .dd-menu {
        width: 370px;
      }
    }
    &__total-price {
      font-weight: bold;
    }
    &__subtitle_checkout {
      margin-left: 25%;
    }
    & .btn__confirm {
      width: 370px;
    }
  }
}
@media only screen and (max-width: 400px) {
  .calculator {
    width: 310px;
    &__container {
      margin: 10px;
    }
    &__datepicker {
      & .date-dropdown__input {
        width: 130px;
        height: 55px;
      }
      & .datepicker {
        width: 280px;
      }
    }
    &__dropdown {
      & .dd-button {
        width: 290px;
        height: 55px;
      }
      & .dd-menu {
        width: 290px;
      }
    }
    &__total-price {
      font-weight: bold;
      font-size: 16px;
    }
    &__subtitle_checkout {
      margin-left: 20%;
    }
    & .btn__confirm {
      width: 290px;
      height: 55px;
    }
  }
}
