

.settings.container
    .left-side
        h3(class="title") даты пребывания в отеле
        include ../datepicker/datepicker.pug
        h3(class="title") гости
        .dropdown.settings__dropdown
            label.label
              .dropdowns
                .dd-button  Сколько гостей
                input(type="checkbox" class="dd-input" id="test")
                ul(class="dd-menu")
                    li
                    p(class="titles") взрослые
                    .flexs
                        button(class="plus button") +
                        p(class="texts") 0
                        button(class="minus button") -
                    li
                    p(class="titles") дети
                    .flexs
                        button(class="plus button") +
                        p(class="texts") 0
                        button(class="minus button") -
                    li
                    p(class="titles") младенцы
                    .flexs
                        button(class="plus button") +
                        p(class="texts") 0
                        button(class="minus button") -

        h3(class="title") диапазон цены
        input(type="text" class="slider__range__price" id="amount" style="border:0; color:#f6931f; font-weight:bold;")
        div(id="slider-range")  
        span Стоимость за сутки пребывания в номере 
        h3(class="title") Checkbox Buttons             
        .blocks
            
        h3(class="title") доступность 
        .blocks

        h3(class="title") удобства номера
        //- p 
        //-     label(for="amount") Price range:
        //-     input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
        //- div(id="slider-range")
    .right-room
       