include ../mixins.pug


.settings.container
    .left-side
        h3(class="title") даты пребывания в отеле
        include ../datepicker/datepicker.pug
        h3(class="title") гости
        .dropdown.settings__dropdown
            label.label
              .dropdowns
                .dd-button  Сколько гостей
                input(type="checkbox" class="dd-input" id="test")
                ul(class="dd-menu")
                    li
                    p(class="titles") взрослые
                    .flexs
                        button(class="plus button") +
                        p(class="texts") 0
                        button(class="minus button") -
                    li
                    p(class="titles") дети
                    .flexs
                        button(class="plus button") +
                        p(class="texts") 0
                        button(class="minus button") -
                    li
                    p(class="titles") младенцы
                    .flexs
                        button(class="plus button") +
                        p(class="texts") 0
                        button(class="minus button") -

        h3(class="title") диапазон цены
        input(type="text" class="slider__range__price" id="amount" style="border:0; color:#f6931f; font-weight:bold;")
        div(id="slider-range")  
        span Стоимость за сутки пребывания в номере 
        h3(class="title") Checkbox Buttons             
        .blocks
            +checkbox("smoking", "Можно курить")
            +checkbox("pets", "Можно с питомцами")
            +checkbox("guests", "Можно пригласить гостей (до 10 человек)")
        h3(class="title") доступность 
        .blocks
            +description-checkbox("hole", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
            +description-checkbox("help", "Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
        h3(class="title") удобства номера
        //- p 
        //-     label(for="amount") Price range:
        //-     input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
        //- div(id="slider-range")
    .right-room
        .row
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
        .row
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
        .row
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
        .row
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
            +card-room( 888, 909, 45)
        div(class="content_detail__pagination cdp" actpage="1")
            a(href="#!-1" class="cdp_i") prev
            a(href="#!1" class="cdp_i") 1
            a(href="#!2" class="cdp_i") 2
            a(href="#!3" class="cdp_i") 3
            a(href="#!+1" class="cdp_i") next