include ../card-room/card-room.pug
include ../../blocks/checkbox/checkbox.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../blocks/little-dropdown/little-dropdown.pug
include ../../blocks/guests-dropdown/guests-dropdown.pug
include ../../blocks/single-airdatepicker/single-airdatepicker.pug
include ../../blocks/stars/stars.pug
include ../sidebar/sidebar.pug
include ../rooms/rooms.pug
div(class='settings')
    div(class='settings__container')
        +sidebar({addClass: 'sidebar_position'})
        +rooms
hr