
.settings {
  display: flex;
  justify-content: space-between;
}

.left-side {
  margin: 57px 90px 0 0;
}

.settings__title_price {
  padding: 45px 0 31px 0;
}

.settings__title_checkboxes {
  padding-top: 10px;
  padding-bottom: 20px;
}

.settings__title_availability {
  padding-top: 35px;
  padding-bottom: 20px;
}

.settings__title_comfort {
  padding-top: 30px;
  padding-bottom: 8px;
}

.settings__range {
  position: relative;
}

.room__checkbox {
  margin-bottom: 17px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.room-card__decor {
  flex-basis: 400px;
  margin-top: 4px;
}

.show {
  position: relative;
  width: 340px;
  z-index: 10;
}

.slide {
  display: none;
}

.card-number__symbol {
  font-size: 1.1rem;
}
.close {
  display: none;
}

.right-side {
  margin-top: 30px;
}

.fa-arrow-left {
  font-size: 1.67rem;
  color: #6fcf97;
}

.settings__datepicker .datepickers-container {
  width: 400px;
}

.settings__datepicker {
  margin-top: 10px;
  margin-bottom: 40px;
}
.right-side .fa-arrow-right {
  font-size: 1.67rem;
  color: #6fcf97;
}

.settings__comfort .comfort-button {
  scroll-margin-bottom: 20px;
}

.settings__extracomfort{
  margin-top: 15px;
}

.settings__pagination{
  margin-bottom: 100px;
}

@media only screen and (max-width: 1600px) {
  .settings__title-main{
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .left-side {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 750px) {
  .right-side {
    display: none;
  }

  .slide {
    display: block;
  }

  .close {
    display: block;
  }
}

@media only screen and (max-width: 400px) {



  .slide {
    display: block;
  }

  .close {
    display: block;
  }

  .settings__datepicker #single__input__range {
    width: 300px;
  }

  .settings__dropdown .little-dropdowns .dd-button {
    width: 300px;
  }

  .settings__range #slider-range {
    width: 300px;
  }

  .slider-range-price {
    left: 12em;
  }
}
