
include ../mixins.pug
.settings.container
    #left-side.left-side
        div(class="sidebar" id="sidebar")
            a(href="#" class="close")
                i(class="fab fa-instagram")
            h3(class="title") даты пребывания в отеле
            //- include ../datepicker/datepicker.pug
            h3(class="title") гости

            h3(class="title") диапазон цены
            input(type="text" class="slider__range__price" id="amount")
            div(id="slider-range")  
            span Стоимость за сутки пребывания в номере 
            h3(class="title") Checkbox Buttons             
            .blocks
                +checkbox('Smoking', 'Можно курить', "room__checkbox")
                +checkbox('Pets', 'Можно с питомцами', "room__checkbox")
                +checkbox('Guests',  "Можно пригласить гостей (до 10 человек)",
            "room__checkbox")
            h3(class="title") доступность 
            .blocks
                +description-checkbox("Широкий коридор", "Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
                +description-checkbox("Помощник для инвалидов", "Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
            h3(class="title") удобства номера
                img(src="../images/logo.svg")
            //- p 
            //-     label(for="amount") Price range:
            //-     input(type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;")
            //- div(id="slider-range")
    .right-side
        h1(class="title__main") Найдём номера под ваши пожелания
        span(class="slide" id="slide")
            a(href="#")
                i(class="fab fa-instagram")
        .wrapper_content
            .content
                +card-room(require("./images/room1.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room2.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room3.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room4.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room5.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room6.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room7.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room8.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")
                +card-room(require("./images/room9.jpg"), 800, 800, "--rating: 3.5",800, "room-card__decor")