.tgl__input {
  display: none;
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl__btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl__btn {
    width: 56px;
    height: 28px;
    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    outline: 0;
    display: block;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      top: 3px;
      left: 3px;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl__btn:after {
    left: 60%;
  }
}

.tgl__input{
  + .tgl__btn {
    background: #fff;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
      transition: all 0.2s ease;
    }
  }

  &:checked + .tgl__btn {
    border: 1px solid #bc9cff;
  }
  &:checked + .tgl__btn:after {
    border-radius: 50%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    transition: all 0.2s ease;
  }
}
