//- include ../../components/header/header.pug
include ../footer/footer.pug
include ../header/header.pug
doctype html
html
  head
    title
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
    +header(['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'])
      +button-signin-header('Войти', 'signin-page.html', 'header-btn-signin' )
      .header-btn-signup
        +button-signup('Зарегистрироватьcя', 'signup-page.html')
    include ../room-page/room-page.pug
    +footer({name1: 'навигация', name2: 'о нас', name3: 'Служба поддержки', name4: 'Подписка'}, ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Соглашения', 'Сообщества', 'Связь с нами'], 'Copyright © 2018 Toxin отель. Все права зачищены.')





