doctype html
html
  head
    title my jade template
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
    include ../header/header.pug
    include ../room-page/room-page.pug
    include ../footer/footer.pug