include ../../components/header/header.pug
include ../../components/button/button.pug
include ../../components/footer/footer.pug
doctype html
html
  head
    title my jade template
    meta(name="viewport", content="width=, initial-scale=1.0")
  body
  .info-page
    +header( ['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения'])
        +button('Войти', 'signin-page.html', 'btn__signin_header')
        +button('Зарегистрироватьcя', 'signup-page.html', 'btn__signup')
    br
    include ../../components/info-room/info-room.pug
    +footer('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', {name1: 'навигация', name2: 'о нас', name3: 'Служба поддержки', name4: 'Подписка'}, ['О нас', 'Новости', 'Служба поддержки', 'Услуги'], ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'], ['Соглашения', 'Сообщества', 'Связь с нами'], 
    'Получайте специальные предложения и новости сервиса', 'Copyright © 2018 Toxin отель. Все права зачищены.')