<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="header.pug")
    body
        .wrapper    
            //- include components/main_ui/main_ui.pug
            //- include components/header/header.pug
            //- include components/footer/footer.pug
            //- include components/landing_page/landing_page.pug
            //-   include components/signin-page/signin-page.pug
            //- include components/search-page/search-page.pug
            //- include components/card-room/card-room.pug
            //- include components/room-page/room-page.pug
            //- include components/datepicker/datepicker.pug
            //- include components/slider/slider.pug
            //- include components/components-page/components-page.pug
            //- include components/info-room/info-room.pug
            //- include blocks/chart/chart.pug
            //- include blocks/calculator/calculator.pug
            include blocks/airdatepicker/airdatepicker.pug


