html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 80.5vw;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
}

.logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 210px;
  height: 60px;
  vertical-align: middle;
  margin-top: 25px;
  display: inline-block;
}

.title-main {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.89rem;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 17.8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  letter-spacing: 0.2px;
  margin-block-end: 0.1em;
  margin-block-start: 0.1em;
  margin-bottom: 5px;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

hr {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.subtitle {
  font-size: 18px;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-block-start: 0.7em;
  &--describtion {
    margin-top: 25px;
    margin-bottom: 29px;
  }
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  letter-spacing: 0;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 450px) {
  html,
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  html,
  body {
    font-size: 14px;
  }
}
