@import "../components/variables.scss";
@import "../components/mixins.scss";
@import "../components/main_ui/main_ui.scss";
@import "../components/header/header.scss";
@import "../components/form-register/form-register.scss";
@import "../components/footer/footer.scss";
@import "../components/signup-page/signup-page.scss";
@import "../components/form-search/form-search.scss";
@import "../components/search-page/search-page.scss";
@import "../components/card-room/card-room.scss";
@import "../components/room-page/room-page.scss";
@import "../components/slider/slider.scss";
@import "../components/info-room/info-room.scss";
@import "../components/signin-form/signin-form.scss";
@import "../components/components-page/components-page.scss";
@import "../components/datepicker/datepicker.scss";
@import "../blocks/calculator/calculator.scss";
@import "../blocks/airdatepicker/airdatepicker.scss";
@import "../blocks/dropdown/dropdown.scss";
@import "../blocks/littleDropdown/littleDropdown.scss";
@import "../blocks/panagination/panagination.scss";
@import "../blocks/donutChart/donutChart.scss";
@import "../blocks/slick/slick.scss";
@import "../blocks/input-dates/input-dates.scss";
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.material-icons {
  font-family: 'MaterialIcons';
  font-weight: normal;
  font-style: normal;
  font-size: 69px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #8BA4F9;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons__like{
  font-size: 14px;
  color: rgba(31, 32, 65, 0.25);
}

.container {
  width: 80.5vw;
  margin: 0 auto;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  background-image: url(../images/Logo.svg);
  background-repeat: no-repeat;
  width: 210px; height: 60px;
  margin-top: 5px;
}

.title__main {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 34px;
}

.btn-signup {
  @include btn-small-violet;
}

ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

hr{
  background: rgba(31, 32, 65, 0.1);
  height: 1.5px;
}

.input_text {
  @include input_text;
}

.btn-confirm {
  width: 472px;
  height: 65px;
  background-color: #bc9cff;
  border-radius: 45px;
  border: none;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 19.4px;
  line-height: 15px;
  /* identical to box height */
  font-family: "OpenSans-Bold";
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-image: url(../images/white-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 22em;
  background-position-y: 1.2em;
  top: 20px;
  &:focus{
    outline: none;
  }
}

.btn-link {
  display: inline-block;
  width: 145px;
  height: 65px;
  border: 2.4px solid $violet-text;
  text-transform: uppercase;
  border-radius: 35px;
  font-size: 19px;
  text-align: center;
  color: $violet-text;
  text-decoration: none;
  font-family: "OpenSans-Bold";
  padding-top: 15px;
}


.btn-like {
  border: 2px solid #BC9CFF;
  outline: none;
  color: #BC9CFF;
  background: #FFFFFF;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  width: 90px;
  height: 30px;
  margin-left: 20px;
  margin-top: 5px;
}

.btn-like span{
  margin-left: 5px;
}

/* Darker background on mouse-over */
.btn-like:hover {
  color: #8BA4F9;
}


.subtitle {
  font-size: 18px;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin-block-start: 0.7em;
  &--describtion {
    margin-top: 25px;
    margin-bottom: 29px;
  }
}

.label {
  @include label;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.text {
  @include text;
}

.formtext {
  @include text;
  color: $black-color;
  display: flex;
  font-size: 14px;
  margin-top: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.radio-buttons{
  margin: 19px 0 30px 0;
}

.radio {
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: #fff;
        border-radius: 100%;
        border: 2px solid #BC9CFF;
        display: inline-block;
        width: 1.9em;
        height: 1.9em;
        position: relative;
        top: -0.1em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background:   linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
          box-shadow: inset 0 0 0 4px #fff;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #fff;
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}

.label-radio{
  font-size: 20.6px;
  margin-left: 15px;
  margin-right: 28px;
}

.input-date {
  @include input-date;
}


@media only screen and (max-width: 900px) {
  .title__main {
    font-size: 28px;
  }
}



@media only screen and (max-width: 1000px) {
  .container{
      width: 95%;
  }
}


@media only screen and (max-width: 600px) {
  // .title__main {
  //   font-size: 20px;
  //   text-align: center;
  // }

  // .btn-width-violet {
  //   width: 310px;
  //   height: 40px;
  //   background-color: #bc9cff;
  //   border-radius: 45px;
  //   margin-left: 40px;
  //   text-align: center;
  //   box-sizing: border-box;
  //   font-weight: bold;
  //   font-size: 14px;
  //   line-height: 15px;
  //   /* identical to box height */
  //   font-family: "OpenSans-Bold";
  //   text-align: center;
  //   text-transform: uppercase;
  //   color: #ffffff;
  //   background-image: url(../images/white-arrow.svg);
  //   background-repeat: no-repeat;
  //   background-position-x: 24em;
  //   background-position-y: 1.2em;
  //   top: 20px;
  //   &:focus{
  //     outline: none;
  //   }
  // }
  
}