.text-field {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}
.text-field:hover,
.text-field:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.tgl {
  display: none;
  // add default box-sizing for this scope
  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    width: 40px;
    height: 20px;
    margin-left: 30px;
    background: #ffffff;
    /* Primary Color */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;

    outline: 0;
    display: block;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 12px;
      height: 12px;
      top: 1px;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 60%;
  }
}

// themes
.tgl-light {
  + .tgl-btn {
    background: #fff;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    &:after {
      border-radius: 50%;
      background: rgba(31, 32, 65, 0.25);
      transition: all 0.2s ease;
    }
  }

  &:checked + .tgl-btn {
    border: 1px solid #bc9cff;
  }
  &:checked + .tgl-btn:after {
    border-radius: 50%;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    transition: all 0.2s ease;
  }
}

