doctype html
html
  head
    title my jade template
  body
      .block
          input.text-field
          button.button.first-click Click me
          button.button.second-click Click me
          button.button.third-click Click me
          button.button.fourth-click Click me
          input#cb1.tgl.tgl-light(type = "checkbox") 
          label.tgl-btn(for = "cb1") 
          .radio
            input(name="radio" type="radio" class="sex_button" checked)
            label(for="radio-1" class="radio-label") Men
          .radio
            input(name="radio" type="radio" class="sex_button")
            label(for="radio-2" class="radio-label") Women
          .rate
            input(type="radio" id="star5" name="rating" value="5")
            label(for="star5" title="Outstanding")
            input(type="radio" id="star4" name="rating" value="4")
            label(for="star4" title="Very Good")
            input(type="radio" id="star3" name="rating" value="3")
            label(for="star3" title="Good")
            input(type="radio" id="star2" name="rating" value="2")
            label(for="star2" title="Poor")
            input(type="radio" id="star1" name="rating" value="1")
            label(for="star1" title="Very Poor")
