mixin room-information(room)
    div(class='room-information')
      div(class='room-information__wrapper' class= room.className)
         i(class='material-icons')= room.icon
         div(class='room-information__description')
            h4(class='room-information__quality')= room.quality
            p(class='room-information__text')= room.descr