mixin room-information(icon, quality, descr, className)
    div(class='roomin-formation')
      div(class='room-information__wrapper row' class= className)
         i(class='material-icons')= icon
         div(class='room-information__description')
            h4= quality
            p= descr