mixin room-information(icon, quality, descr, className)
    div(class='room-information')
      div(class='room-information__wrapper row' class= className)
         i(class='material-icons')= icon
         div(class='room-information__description')
            h4(class='room-information__quality')= quality
            p(class='room-information__text')= descr