div(id="carousel" class="owl-carousel" style="width: 350px;")
  div(class="item")
    img(class="owl-lazy" data-src="https://cdn.britannica.com/s:300x300/88/137188-004-A05832DA.jpg" alt="")
  div(class="item")
    img(class="owl-lazy" data-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUmtXRoJ9zEe08pUDUCfAbCm3iPQmuzlWYaecBWe8-Ay_VDdq9ig" alt="")